{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Créer votre structure{% endblock title %}
{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Créer votre structure</li>
    </ol>
  </div>
{% endblock page %}

{% block content %}

  <div class="content">
    <h1>Créer votre structure</h1>

    {{ form_start(teamForm) }}
    {{ form_row(teamForm.name) }}
    {{ form_row(teamForm.tag) }}
    {{ form_row(teamForm.logo, { 'attr':{'class':'hide', 'label':'hide'} }) }}
    {{ form_row(teamForm.bio, { 'attr':{'label':'hide'} }) }}
    {{ form_row(teamForm.banner, { 'attr':{'label':'hide'} }) }}
    <button type="submit" class="btn btn_orange center_block" >Créer</button>

    {{ form_end(teamForm) }}
  </div>
{% endblock content %}
