{% extends "/layout.html.twig" %}
{% block title %}TeamUP - {{ team.name }}{% endblock title %}
{% block page %}
  <div class="team_banner" style="{% if team.banner != null %}background-image:url({{ asset('uploads/team_banner/') }}{{ team.banner }}){% else %}background:grey{% endif %}"></div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{path('dashboard')}}">Accueil</a></li>
      <li class="active">{{ team.name }}</li>
    </ol>
  </div>
{% endblock page %}

{% block content %}



  <div class="content" style="padding:13px">
    <div class="col-md-4">
      <div class="team_logo" style="{% if team.logo != null %}background-image:url({{ asset('uploads/team_logo/') }}{{ team.logo }}){% else %}background:grey{% endif %};"></div>
    </div>
    <div class="col-md-4">
      <h1>{{ team.name }}</h1>
      <span class="grey_text" style="text-align: center;display:block;width:100%">Responsable : <a class="linkhover" style="font-weight: bold" href="{{ path('user_show', { 'id' : team.owner.id }) }}">{{  team.owner.pseudo }}{{  team.owner.profileName }}</a></span>
    </div>
    <div class="col-md-4">
      {% if team.owner == app.user %}
        <a class="lil_btn btn_grey btn" style="float:right" href="{{ path('admin_team', { 'ID' : team.id }) }}">Administrer</a>
      {% endif %}

    </div>
    <div style="clear:both"></div>

  </div>

  <div class="content" style="padding:0px">
  <h2>Line-ups</h2>
  {% if team.owner == app.user %}
            <a href="{{ path('lineup_new') }}" class="btn_grey btn lil_btn" style="position:absolute;top: 12px;right: 12px;"><i class="fas fa-plus"></i></a>
        {% endif %}
  {% for lineUp in team.lineUps %}

          {% include 'lineup/_lineup.html.twig' %}


    {% else %}
      <p style="padding:20px">Il n'y a pas encore de lineup.</p>
    {% endfor %}
  </div>


{% endblock content %}

