{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Administrer {{ team.name }}{% endblock title %}

{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{path('dashboard')}}">Accueil</a></li>
      <li><a href="{{path('display_team', { 'ID' : team.id })}}">{{ team.name }}</a></li>
      <li class="active">Administrer les informations</li>
    </ol>
  </div>
{% endblock page %}

{% block content %}

  <div class="content">
    <h1>Administrer {{ team.name }}</h1>

    <div class="navUser">
      <a href="{{path('admin_team', { 'ID' : team.id })}}" {% if app.request.get('_route') == 'admin_team' %}class="active"{% endif %}>Informations</a>
      <a href="{{path('lineup_new')}}" {% if app.request.get('_route') == 'lineup_new' %}class="active"{% endif %}>Line-ups</a>

    </div>

    {{ form_start(teamForm) }}
    {{ form_row(teamForm.name) }}
    {{ form_row(teamForm.tag) }}
    {{ form_row(teamForm.bio) }}
    <div class="col-md-4">
      {{ form_label(teamForm.logo, 'Logo') }}
      {{ form_row(teamForm.logo) }}
      <div id="ava_overflow" class="ava_overflow" style="border-radius: 4px;">
        <img style="background: #fafafa" src="{% if team.logo != null %}{{ asset('uploads/team_logo/') }}{{ team.logo }}{% endif %}" id="output_image" />
        <div class="ppblocprofhover"><p><br><br><i class="fas fa-camera"></i></p><p>Changer le logo<br>de {{ team.name }}</p></div>
      </div>

    </div>
    <div class="col-md-8">

      {{ form_label(teamForm.banner, 'Bannière') }}
      {{ form_row(teamForm.banner) }}
      <div id="banner_overflow" class="banner_overflow" {% if team.banner == null %}style="background: #fafafa"{% endif %}>
        <img  src="{% if team.banner != null %}{{ asset('uploads/team_banner/') }}{{ team.banner }}{% endif %}" id="output_banner"/>
        <div class="ppblocbannerhover"><p><br><br><i class="fas fa-flag"></i></p><p>Changer la bannière<br>de {{ team.name }}</p></div>
      </div>

    </div>
    <div style="clear:both;"></div>
    <button type="submit" class="btn btn_orange center_block" style="margin-top: 20px" >Modifier</button>

    {{ form_end(teamForm) }}
  </div>
{% endblock content %}



{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript'>

    //preview logo

    function preview_image(event)
    {
      var reader = new FileReader();
      reader.onload = function()
      {
        var output = document.getElementById('output_image');
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }


    let ava_overflow = jQuery("#ava_overflow");
    let input_profil = jQuery("#team_logo");
    ava_overflow.click(function() {

      input_profil.click();
    });





    // preview banner

    function preview_banner(event)
    {
      var reader2 = new FileReader();
      reader2.onload = function()
      {
        var output2 = document.getElementById('output_banner');
        output2.src = reader2.result;
      }
      reader2.readAsDataURL(event.target.files[0]);
    }

    let banner_overflow = jQuery("#banner_overflow");
    let input_banner = jQuery("#team_banner");
    banner_overflow.click(function() {

      input_banner.click();
    });




  </script>
{% endblock javascripts %}