{% extends "/layout_home.html.twig" %}

{% block title %}TeamUP - Présentation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block content %}

    {# Block 1 Home #}

    <div class="home_block_1">
        <img src="{{ asset('assets/images_statiques/hitman.png') }}" alt="hitman" class="hitman hidden-phone">
        <img src="{{ asset('assets/images_statiques/samourai.png') }}" alt="mitsurugi" class="samourai hidden-phone">
        <div class="container">
            <img src="{{ asset('assets/images_statiques/logohome.png') }}" class="logo" alt="logo team up">
            <div class="btn_container">
                <a class="btn big_btn btn_orange" href="{{ path('register') }}">Inscription</a>
                <a  class="btn big_btn btn_grey"  href="{{ path('login') }}">Authentification</a>
                <div style="clear:both"></div>
            </div>
            <a class="js-scrollTo" href="#presentation">
                <div class="flechebottom">
                    <img src="{{ asset('assets/images_statiques/fleches.svg') }}">

                </div>
            </a>

        </div>
    </div>

    {# Block 2 Home #}

    <div class="home_block_2" id="presentation">

        <div class="container">
            <div class="col-md-6">
                <img src="{{ asset('assets/images_statiques/groupe_joueurs.jpg') }}" alt="groupe de joueurs">
            </div>
            <div class="col-md-6">
                <h1>Bienvenue sur le premier réseau social<br>dédié à l’esport.</h1>
                <div class="content_home">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod augue vel placerat dapibus. Vestibulum eget vulputate dolor, sollicitudin ullamcorper dui. Quisque tincidunt venenatis nulla at ultricies. Vestibulum sit amet fermentum libero. Quisque nisl lorem, accumsan id magna nec, viverra pellentesque augue.</p>
                    <p>Mauris nunc augue, lacinia id pellentesque et, consequat id risus. Quisque non neque et mi tempus sodales eget porta nulla. Proin sem erat, volutpat vitae egestas at, sagittis non libero. Quisque pulvinar ante sit amet nisi iaculis, eget condimentum nisi molestie. Donec tristique iaculis orci, sed ultrices tellus tincidunt non.</p>
                    <p>Proin tristique magna et nisi porttitor ultricies. Etiam ac risus id lorem ornare vestibulum. Pellentesque ornare, velit et rutrum maximus, dolor lorem egestas odio, vitae molestie magna tortor et elit. Mauris quis luctus lacus, vel sollicitudin metus.</p>
                    <a style="margin:0 auto;margin-top: 40px;" class="btn big_btn btn_orange" href="{{ path('dashboard') }}">Inscription</a>
                </div>
            </div>
        </div>
        <img class="witchhunter hidden-phone" src="{{ asset('assets/images_statiques/witchhunter.png') }}" alt="chasseuse de sorcières">
    </div>

    {# Block 3 Home #}

    <div class="home_block_3">
        <div class="col-md-3 col-service">
            <div class="service">
                <div class="bande_service"></div>
                <img src="{{ asset('assets/images_statiques/annuaire.png') }}" alt="icone annuaire">
                <h2>annuaire des<br>structures e-sport</h2>
                <a  class="btn btn_grey"  href="{{ path('dashboard') }}">En savoir plus</a>
            </div>
        </div>
        <div class="col-md-3 col-service">
            <div class="service">
                <div class="bande_service"></div>
                <img src="{{ asset('assets/images_statiques/offres.png') }}" alt="icone offres">
                <h2>offres de<br>recrutement</h2>
                <a  class="btn btn_grey"  href="{{ path('dashboard') }}">En savoir plus</a>
            </div>
        </div>
        <div class="col-md-3 col-service">
            <div class="service">
                <div class="bande_service"></div>
                <img src="{{ asset('assets/images_statiques/profils_complets.png') }}" alt="icone profils complets de joueurs">
                <h2>profils complets<br>de joueurs</h2>
                <a  class="btn btn_grey"  href="{{ path('dashboard') }}">En savoir plus</a>
            </div>
        </div>
        <div class="col-md-3 col-service">
            <div class="service">
                <div class="bande_service"></div>
                <img src="{{ asset('assets/images_statiques/crea_structure.png') }}" alt="icone création">
                <h2>création de structures<br>e-sport en ligne</h2>
                <a  class="btn btn_grey"  href="{{ path('dashboard') }}">En savoir plus</a>
            </div>
        </div>

        <div style="clear:both"></div>
    </div>

    {# Block 4 Home #}

    <div class="home_block_4">

        <div class="container">
            <div class="col-md-8">
                <h3>Vous êtes capables de vous affronter mais<br>pouvez vous faire équipe ?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod augue vel placerat dapibus. Vestibulum eget vulputate dolor, sollicitudin ullamcorper dui. Quisque tincidunt venenatis nulla at ultricies. Vestibulum sit amet fermentum libero. Quisque nisl lorem, accumsan id magna nec, viverra pellentesque augue.</p>
                <p>Mauris nunc augue, lacinia id pellentesque et, consequat id risus. Quisque non neque et mi tempus sodales eget porta nulla. Proin sem erat, volutpat vitae egestas at, sagittis non libero. Quisque pulvinar ante sit amet nisi iaculis, eget condimentum nisi molestie. Donec tristique iaculis orci, sed ultrices tellus tincidunt non.</p>
                <p>Proin tristique magna et nisi porttitor ultricies. Etiam ac risus id lorem ornare vestibulum. Pellentesque ornare, velit et rutrum maximus, dolor lorem egestas odio, vitae molestie magna tortor et elit. Mauris quis luctus lacus, vel sollicitudin metus.</p>
            </div>

        </div>
        <img class="requin hidden-phone" src="{{ asset('assets/images_statiques/requin.png') }}" alt="chimère requin poulpe">
    </div>

    {# Block 5 Home #}

    <div class="home_block_5">

        <div class="container">
            <h3>Ils nous font confiance</h3>
            <div class="col-md-6"><img src="{{ asset('assets/images_statiques/kings.png') }}" alt="logo kings"> <img src="{{ asset('assets/images_statiques/griffins.png') }}" alt="logo griffins"></div>
            <div class="col-md-6"><img src="{{ asset('assets/images_statiques/thedigitalsyndicate.png') }}" alt="logo tds"> <img src="{{ asset('assets/images_statiques/crom.png') }}" alt="logo crom"></div>
            <div class="col-md-6 secrow"><img src="{{ asset('assets/images_statiques/squids.png') }}" alt="logo squids"> <img src="{{ asset('assets/images_statiques/kudinza.png') }}" alt="logo kudinza"></div>
            <div class="col-md-6 secrow"><img src="{{ asset('assets/images_statiques/everlasting.png') }}" alt="logo everlasting"> <img src="{{ asset('assets/images_statiques/sizzle.png') }}" alt="logo sizzle"></div>
        </div>
        <img class="scorpion hidden-phone" src="{{ asset('assets/images_statiques/scorpion.png') }}" alt="scorpion">
    </div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function() {
    $('.js-scrollTo').on('click', function() { // Au clic sur un élément
    var page = $(this).attr('href'); // Page cible
    var speed = 1000; // Durée de l'animation (en ms)
    $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
    return false;
    });
    });
    </script>
{% endblock %}
