
<div class="post" style="padding: 28px 28px;font-size:12px;">
    <div class="col-md-4">
    <img id="image" style="border-radius: 3px;margin-right: 20px;" src="{{ lineUp.image }}" alt=""  width="70px" height="auto">
    {{ lineUp.gamename }}
    </div>
    <div class="col-md-4">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="20px" style="margin-right: 10px" color="#333" viewBox="0 0 371.95 253.97"><title>members</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M165,254c-8.41-.94-16.8-2.24-25.23-2.68-4.73-.25-6-2.41-6.78-6.53-2.83-15.21-6-30.36-9-45.53a15.16,15.16,0,0,0-1.11-4.33,60.85,60.85,0,0,0-4-5.77c-1.5,1.79-3.45,3.38-4.38,5.42-1.22,2.69-1.69,5.73-2.37,8.64-2.71,11.66-5.37,23.34-8.07,35-.18.76-.5,1.49-.91,2.68-9.79-4.45-19.31-8.71-28.73-13.19a4.47,4.47,0,0,1-2-3.4c.47-24,.88-48,8.37-71.13,6-18.49,17.82-31.52,36.09-38,11.72-4.17,23.85-7.21,35.86-10.53a7.14,7.14,0,0,1,5,1.08c19,11.77,37.95,11.73,56.92-.14a6.52,6.52,0,0,1,4.53-1c11.54,3.17,23.16,6.12,34.47,10,23.26,8,35,25.82,40.27,48.84,4.9,21.41,5.56,43.21,5.84,65,0,1.25-1.13,3.3-2.18,3.64-9.42,3.12-18.94,5.94-28.88,9-3.25-14.07-6.38-27.65-9.54-41.22a21.53,21.53,0,0,0-1.68-5.72c-1-1.86-2.78-3.32-4.22-5-1.33,1.75-3.27,3.32-3.86,5.29-1.43,4.76-2.29,9.71-3.27,14.6-2.5,12.39-5,24.78-7.35,37.21-.61,3.28-1.93,4.66-5.46,4.93-8.76.66-17.49,1.85-26.23,2.82Z"/><path d="M372,189l-25.43,6.88c-2.51-10.7-5-21.33-7.52-31.93a45,45,0,0,0-2.39-7.59,4.24,4.24,0,0,0-2.93-2.1c-.7-.08-2,1.26-2.3,2.2a79.77,79.77,0,0,0-2.4,9.15c-2.19,10.76-4.61,21.48-6.25,32.32-.76,5-3.19,6.71-7.69,6.82-1.79,0-3.58.2-5.28.3-1.31-11.31-2.17-22.25-3.9-33-3.13-19.53-9-37.94-24.24-51.87-11.9-10.92-26.67-16-41.85-20.14-6.2-1.7-12.43-3.3-18.65-4.94L221,93.64c10.38-2.86,20.74-5.79,31.17-8.47,1.18-.3,2.87.53,4.08,1.26,15.11,9.13,30.15,9.1,45.34.12a9,9,0,0,1,6-.89c6.32,1.39,12.53,3.31,18.81,4.91,24,6.11,37.34,21.87,41.48,45.82,1.42,8.18,2.14,16.48,3.21,24.73.21,1.63.59,3.24.88,4.86Z"/><path d="M0,163c1.32-9.2,2.4-18.43,4-27.58,4-23.26,17.27-38.35,40.31-44.46,2.73-.72,5.47-1.44,8.14-2.36,8.64-3,16.45-3.68,25.41,1.22,12.07,6.61,24.79,4,36.73-2.61A12.52,12.52,0,0,1,122.81,86c9.29,2.24,18.44,5.1,27.64,7.72l-.1,1.45c-4.75,1.25-9.53,2.41-14.25,3.76-6.39,1.83-12.78,3.68-19.09,5.74-27,8.8-43,27.61-48.81,55-2.57,12.16-3.56,24.66-5.19,37-.34,2.61-.34,5.26-.53,8.49-3.68-.45-7-.56-10.13-1.39-1.06-.28-2.07-2.31-2.36-3.69-2.75-13-5.22-26.09-8.09-39.08-.55-2.49-2.51-4.66-3.81-7-1.43,2.21-3.55,4.24-4.19,6.67-3,11.53-5.65,23.17-8.52,35.19L0,185Q0,174,0,163Z"/><path d="M193,0c2.38.66,4.77,1.3,7.15,2,19.7,5.69,33,22.91,32.33,41.72-.73,19.4-15.43,36-35.58,40.2A50.22,50.22,0,0,1,167,81.37c-17.33-7.09-28.24-23-27.51-40.15.77-18.11,13.36-33.59,31.84-39.11C173.87,1.35,176.43.7,179,0Z"/><path d="M99,0c7.48,2.4,14.65,5.34,20,11.47,10.31,11.85,13,25.41,7.64,40-5.11,13.94-15.42,22.15-30.4,24C76.94,77.79,58.35,61.61,57,41.32,55.64,21.42,66.44,6.2,85.75.76A5.35,5.35,0,0,0,87,0Z"/><path d="M285,0c7.48,2.4,14.65,5.34,20,11.47,10.31,11.85,13,25.41,7.64,40-5.11,13.94-15.42,22.15-30.4,24C262.91,77.79,244.33,61.61,243,41.32,241.61,21.42,252.42,6.2,271.72.76A5.35,5.35,0,0,0,273,0Z"/></g></g></svg> {{ lineUp.members|length }} membre(s)</p>
        {% for member in lineUp.members %}

        <a class="linkhover" href="{{ path('user_show', { 'id' : member.id }) }}">
            <div style="width:27px;height:27px;border-radius:50px;background-image: url('{% if member.steamId == 0 %}{{ asset('uploads/profil_pic/') }}{{ member.profilPic }}{% else %}{{ member.avatar }}{% endif %}');background-size: cover;float:left;margin-right: 5px;"></div>
            {% if member.steamId == 0 %}{{ member.pseudo }}{% else %}{{ member.profileName }}{% endif %}

        </a>
        {% endfor %}
    </div>
    <div class="col-md-4">
        {% if team.owner == app.user %}
            <a class="lil_btn btn_grey btn" style="position:absolute;top:20px;right:20px;" href="{{ path('lineup_show', { 'ID' : lineUp.id }) }}">Voir</a>
        {% endif %}
    </div>
    <div style="clear:both"></div>


</div>

