{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lineups list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lineup in lineups %}
            <tr>
                <td><a href="{{ path('lineup_show', { 'id': lineup.id }) }}">{{ lineup.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lineup_show', { 'id': lineup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lineup_edit', { 'id': lineup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lineup_new') }}">Create a new lineup</a>
        </li>
    </ul>
{% endblock %}
