{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Ajouter une nouvelle line-up{% endblock title %}


{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{path('dashboard')}}">Accueil</a></li>
            <li><a href="{{path('display_team', { 'ID' : team.id })}}">{{ team.name }}</a></li>
            <li class="active">Gestion des line-ups</li>
        </ol>
    </div>
{% endblock page %}

{% block content %}

    <div class="content">
        <div class="navUser">
            <a href="{{path('admin_team', { 'ID' : team.id })}}" {% if app.request.get('_route') == 'admin_team' %}class="active"{% endif %}>Informations</a>
            <a href="{{path('lineup_new')}}" {% if app.request.get('_route') == 'lineup_new' %}class="active"{% endif %}>Line-ups</a>

        </div>
        <h2>Ajouter une nouvelle line-up</h2>
        <div class="row">
            <div class="col-md-1">

                        <img id="image" style="border-radius: 3px;" src="http://images.igdb.com/igdb/image/upload/t_thumb/co1jmh.jpg" alt=""
                             width="70px" height="auto">
            </div>
                        {{ form_start(form) }}
            <div class="col-md-11">            
                                {{ form_label(form.game_name, 'Effectuez une recherche du jeu vidéo' ) }}
                                {{ form_widget(form.game_name) }}
                                <i id="recherche" style="position: absolute;top: 41px;font-size: 18px;right: 37px;" class="fas fa-search"></i>
            </div>
        </div>
                        
                            
                        
                
                    <div class="row">
                        <div class="col-md-6">
                            <label for="id_game" class="required">Sélection du jeu</label>
                            <select name="id_game" id="id_game" class="result form-control" disabled>
                                <option value="" selected>Lancez une recherche puis sélectionnez un jeu ici ...</option>
                            </select>
                            </div>
                        <div class="col-md-6">
                            {{ form_label(form.system_id, 'Plateforme' ) }}
                            <select name="id_system" class="result_system form-control" disabled>
                                <option value="null" selected>Sélectionnez d'abord un jeu puis sélectionnez une plateforme ici ...</option>
                            </select>
                        </div>
                            {{ form_widget(form.system_id) }}                            
                            {{ form_widget(form.game_id) }}
                                <div class="col-sm-12">
                                    <input type="submit" name="submit" value="Valider" class="btn btn_orange center_block">
                                </div>
                        
                    </div>
                    {{ form_end(form) }}
               
                {#<div class="col-sm-1">#}
                {#<input type="button" value="Rechercher" id="recherche" class="btn btn-success">#}
                {#</div>#}
            </div>


    </div>










        
            
     

{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $( document ).ready(function() {
            $("#appbundle_lineup_game_name").on( "keyup", function() {
                if($(this).val()){
                    $('.result').attr('disabled', true);
                    $('.result_system').attr('disabled', true);
                }
            });
            $( "#recherche" ).on( "click", function() {
                $(".result").empty();
                $('.result').attr('disabled', false);
                $(".result").append("<option value='null' selected>Lancez une recherche puis sélectionnez un jeu ici ...</option>");
                $.ajax({
                    url: "/api/games/"+$("#appbundle_lineup_game_name").val(),
                    context: document.body
                }).done(function( msg ) {
                    console.log(msg);
                    for (var result in msg) {
                        if (msg[result]['platforms'] != undefined) {
                            $(".result").append("<option data-name='" + msg[result]['name'] + "' value='" + msg[result]['id'] + "' data-platforms='" + msg[result]['platforms'] + "' data-coverid='" + msg[result]['cover'] + "'  >" + msg[result]['name'] + "</option>");
                        }
                    }
                });
            });
            $("select[name='id_game']").on("change", function () {
                $('#appbundle_lineup_game_id').val(this.value);
                $('#appbundle_lineup_game_name').val($(this).find(':selected').attr('data-name'));

                //console.log($(this).find(':selected').attr('data-name'));
                //console.log ($(this).find(':selected').attr('data-platforms'));
                $('#appbundle_lineup_system_id').val($(this).find(':selected').attr('data-platforms'));

                let systems = $(this).find(':selected').attr('data-platforms').split(",");
                $(".result_system").empty();
                $('.result_system').attr('disabled', false);
                $("select[name='id_system']").append("<option value='null' selected>Sélectionnez d'abord un jeu puis sélectionnez une plateforme ici ...</option>");
                for (var system in systems) {
                    if (systems[system] != "undefined") {
                        $.ajax({
                            url: "/api/system/" + systems[system],
                            context: document.body
                        }).done(function (msg) {
                            $("select[name='id_system']").append("<option value='"+msg[0]['name']+"' data-name='"+msg[0]['name']+"' data-id='"+msg[0]['id']+"'>"+msg[0]['name']+"</option>");
                            $('#appbundle_lineup_system').val(systems[system]);

                            //Chargement du cover
                            console.log($(this).find(':selected').attr('data-coverid'));
                            $.ajax({
                                url: "/api/cover/"+$(this).find(':selected').attr('data-coverid'),
                            }).done(function( msg ) {
                                $('#appbundle_lineup_image').val("http:"+msg[0]['url']);
                                $('#image').attr('src', 'http:'+msg[0]['url']);
                            });
                            //Fin de chargement du cover
                        });
                    } else {
                        $(".result_system").append("<option value=''>Non renseigné</option>");
                    }
                }
                $('.result_system').css("display","block");

            });
            $("select[name='id_system']").on("click", function () {
                $('#appbundle_lineup_system_id').val($(this).find(':selected').attr('data-id'));
                $('#appbundle_lineup_system_name').val($(this).find(':selected').attr('data-name'));
            })
        });


    </script>
{% endblock javascripts %}
