{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Line-up {{ lineup.gameName }}{% endblock title %}
{% block page %}
    <div class="team_banner" style="{% if lineup.team.banner != null %}background-image:url({{ asset('uploads/team_banner/') }}{{ lineup.team.banner }}){% else %}background:grey{% endif %}"></div>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{path('dashboard')}}">Accueil</a></li>
            <li><a href="{{ path('display_team', { 'ID' : lineup.team.id }) }}">{{ lineup.team.name }}</a></li>
            <li class="active">Line-up {{ lineup.gameName }}</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



    <div class="content" style="padding:13px">
        <div class="col-md-4">
            <div class="team_logo" style="{% if lineup.team.logo != null %}background-image:url({{ asset('uploads/team_logo/') }}{{ lineup.team.logo }}){% else %}background:grey{% endif %};"></div>

        </div>
        <div class="col-md-4">
            <h1>Line-up {{ lineup.gameName }}</h1>
            <img id="image" style="border-radius: 3px;margin: 0 auto;display: block;" src="{{ lineup.image }}" alt=""  width="70px" height="auto">
        </div>
        <div class="col-md-4" style="">
        <span class="grey_text" style="text-align: right;display:block;">Responsable : <a class="linkhover" style="font-weight: bold" href="{{ path('user_show', { 'id' : lineup.team.owner.id }) }}">{{  lineup.team.owner.pseudo }}{{  lineup.team.owner.profileName }}</a></span>
        <div style="display:none;">
        {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
<a href="{{ path('lineup_edit', { 'ID': lineup.id }) }}">Edit</a>
</div>



            </div>
            <div style="clear:both"></div>

    </div>

    <div class="content" style="padding:0px 0px 20px">
        <h2>Membres</h2>
        {% for user in lineup.members %}

          {% include 'User/_user.html.twig' %}


    {% else %}
    <div class="padding_int">
    <i class="fas fa-user-alt-slash"></i>
      <span style="" class="grey_text">Il n'y a pas encore de membre dans cette lineup.</span>
    </div>
    {% endfor %}
<div class="clearboth"></div>
    </div>
{% if lineup.team.owner == app.user %}
    <div class="content" style="padding:0px">
        <h2>Inviter de nouveaux membres</h2>
    <div style="padding:20px">
    <form style="position: relative;" action="" method="GET">
      <input class="form-control" placeholder="Rechercher un utilisateur par son pseudo" name="query" type="text">
      <input id="searchUser" style="display:none;" type="submit"/><i id="recherche" style="position: absolute;top: 17px;font-size: 18px;right: 24px;" class="fas fa-search"></i>
    </form>


  {% for user in pagination %}
<div class="col-md-3">
<div class="encart" style="margin-bottom: 20px;">
<a class="linkhover" href="{{ path('user_show', { 'id' : user.id }) }}">
    <div style="width:76px;height:76px;border-radius:50%;background-image: url('{% if user.steamId == 0 %}{{ asset('uploads/profil_pic/') }}{{ user.profilPic }}{% else %}{{ user.avatar }}{% endif %}');background-size: cover;margin:0 auto;"></div>
    <span style="text-align: center;display: block;" class="grey_text">{% if user.steamId == 0 %}{{ user.pseudo }}{% else %}{{ user.profileName}}{% endif %}</span>
    </a>
    <a class="btn_grey btn" style="padding-top: 6px;padding-bottom: 6px;text-transform: inherit;white-space: normal;" href="{{ path('send_invit', { 'ID' : user.id, 'ID_lineup' : lineup.id}) }}">Envoyer une invitation</a>
</div>
</div>



    {% endfor %}
    <div style="clear:both"></div>
    <div class="navigation center_block">
    {{ knp_pagination_render(pagination) }}
  </div>
  </div>
 </div>
 <div class="col-md-6" style="padding-left:0px">
     <div class="content" style="padding:0px">
     <h2>Créer une offre de recrutement</h2>
         <div style="padding:20px;">
         {{ form_start(form) }}
         {{ form_row(form.title) }}
         {{ form_row(form.text) }}
         <input type="submit" class="btn center_block btn_orange" value="Créer" />
         {{ form_end(form) }}

        </div>
</div>
</div>
<div class="col-md-6" style="padding-right:0px">
     <div class="content" style="padding:0px">
     <h2>Offres de recrutement</h2>
         <div style="padding:20px;">
         {% if lineup.offers is not empty %}
    <table width="100%">
    <tr >
    <th>Intitulé du poste</th>
    <th>Candidatures</th>
    <th>Action</th>
    </tr>
            {% for offer in lineup.offers %}
<tr style="    height: 80px;">
<td>{{ offer.title }}</td>
     <td style="text-align: center">{{ offer.applications|length }}</td>
     <td style="text-align: center"><a href="{{ path('offer_show', { 'id' : offer.id }) }}" class="btn btn_grey lil_btn center_block">Consulter</a></td>
</tr>




    {% endfor %}
    </table>
    {% else %}
    <div class="">
      <span style="" class="grey_text">Aucune offre de recrutement en cours pour cette line-up.</span>
    </div>
             {% endif %}
        </div>

    </div>
</div>
{% endif %}
{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script>

        let recherche = jQuery("#recherche");
        recherche.click(function() {

            $("#searchUser").click();
        });





    </script>


{% endblock javascripts %}