
<div class="post" style="padding: 28px 28px;font-size:12px;">
    {% block search %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endblock %}

</div>


