{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Ajouter un jeu avec égo{% endblock title %}

{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{path('dashboard')}}">Accueil</a></li>
            <li><a href="{{ path('user_show', { 'id' : app.user.id }) }}">{{ app.user.pseudo }}{{ app.user.profileName }}</a></li>
            <li class="active">Jeux avec égo</li>
        </ol>
    </div>
{% endblock page %}

{% block content %}

    <div class="content">

        <h2>Ajouter un jeu avec égo</h2>
        <div class="row">
            <div class="col-md-1">

                        <img id="image" style="border-radius: 3px;" src="http://images.igdb.com/igdb/image/upload/t_thumb/co1jmh.jpg" alt=""
                             width="70px" height="auto">
            </div>
                        {{ form_start(form) }}
            <div class="col-md-11">            
                                {{ form_label(form.game_name, 'Effectuez une recherche du jeu vidéo' ) }}
                                {{ form_widget(form.game_name) }}
                                <i id="recherche" style="position: absolute;top: 41px;font-size: 18px;right: 37px;" class="fas fa-search"></i>
            </div>
        </div>
                        
                            
                        
                
                    <div class="row">
                        <div class="col-md-6">
                            <label for="id_game" class="required">Sélection du jeu</label>
                            <select name="id_game" id="id_game" class="result form-control" disabled>
                                <option value="" selected>Lancez une recherche puis sélectionnez un jeu ici ...</option>
                            </select>
                        </div>
                            {{ form_widget(form.game_id) }}
                        <div class="col-md-6">
                            {{ form_label(form.ownNote, 'Quelle note attribueriez-vous à votre niveau sur ce jeu ? (De 0 à 5)' ) }}
                            {{ form_widget(form.ownNote) }}
                        </div>
                        <div class="col-sm-12">
                                    <input type="submit" name="submit" value="Valider" class="btn btn_orange center_block">
                                </div>
                        
                    </div>
                    {{ form_end(form) }}
               
                {#<div class="col-sm-1">#}
                {#<input type="button" value="Rechercher" id="recherche" class="btn btn-success">#}
                {#</div>#}
            </div>


    </div>










        
            
     

{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $( document ).ready(function() {
            $("#appbundle_egoGame_game_name").on( "keyup", function() {
                if($(this).val()){
                    $('.result').attr('disabled', true);
                }
            });
            $( "#recherche" ).on( "click", function() {
                $(".result").empty();
                $('.result').attr('disabled', false);
                $(".result").append("<option value='null' selected>Lancez une recherche puis sélectionnez un jeu ici ...</option>");
                $.ajax({
                    url: "/api/games/"+$("#appbundle_egoGame_game_name").val(),
                    context: document.body
                }).done(function( msg ) {
                    console.log(msg);

                    for (var result in msg) {
                            $(".result").append("<option data-name='" + msg[result]['name'] + "' value='" + msg[result]['id'] + "' data-coverid='" + msg[result]['cover'] + "'  >" + msg[result]['name'] + "</option>");

                    }
                });
            });
            $("select[name='id_game']").on("change", function () {
                $('#appbundle_egoGame_game_id').val(this.value);
                $('#appbundle_egoGame_game_name').val($(this).find(':selected').attr('data-name'));
                $.ajax({
                    url: "/api/cover/"+$(this).find(':selected').attr('data-coverid'),
                }).done(function( msg ) {
                    $('#appbundle_egoGame_image').val("http:"+msg[0]['url']);
                    $('#image').attr('src', 'http:'+msg[0]['url']);
                });


            });
        });


    </script>
{% endblock javascripts %}
