<table width="100%">
    <tr style="text-align: center;font-size: 12px;">
        <th>Jeu</th>
        <th>Note d'égo</th>
        <th>Note de niveau attribué<br>par la communauté</th>
        {% if user != app.user %}
            <th>Attribuer une note</th>
        {% endif %}
    </tr>
    {% set i = 0  %}
    {% for egoGame in user.egoGames|slice(0, 4) %}
        <tr style="height: 111px;">
            <td style="padding-left: 20px;">
                {% if egoGame.image != "" %}
                    <img style="width:50px;border-radius: 3px;margin-right: 10px;float:left" src="{{ egoGame.image }}" alt="">
                {% else %}
                    <div style="background-color: #cccccc;width:50px;height:50px;color:white;font-size: 25px;text-align: center;border-radius: 3px;float:left;margin-right: 10px;"><i class="fas fa-eye-slash" style="margin-top: 14px;"></i></div>
                {% endif %}
                <span class="grey_text" style="display: block;margin-top: 18px;">{{ egoGame.gameName }}</span>
            </td>
            <td>
                <span class="grey_text" style="display: block;text-align: center;font-size: 18px;">{{ egoGame.ownNote }}<em>/5</em></span>
            </td>
            <td>
                {# On vérifie que l'utilisateur n'ait pas déja noté#}
                {% set pubNoteArray = [] %}
                {% set iterator = 0 %}
                {% set sum = 0 %}
                {% for pubNote in egoGame.pubNotes %}
                    {% set pubNoteArray = pubNoteArray|merge([pubNote]) %}
                    {% set sum = sum + pubNote.value %}
                    {% set iterator = iterator + 1 %}
                {% endfor %}


                {% set MaNote = -1 %}
                {% set MoyenneNote = -1 %}
                {% if pubNoteArray is not empty %}
                    {% if pubNoteArray is not empty %}
                        {% for authUserPubNote in app.user.pubNotes %}
                            {% if authUserPubNote in pubNoteArray %}
                                {% set MaNote = authUserPubNote.value %}
                            {% endif %}
                        {% endfor %}
                        {% set MoyenneNote = sum / iterator %}
                    {% endif %}




                {% endif %}

                <span class="grey_text" style="display: block;text-align: center">
                    {% if MoyenneNote != -1%}
                        {{ MoyenneNote }}<em>/5</em>
                    {% else %}
                        ?
                    {% endif %}

                </span>
            </td>
            {% if user != app.user %}
                <td>
                    {% if MaNote == -1 %}
                        <button class="btn_grey lil_btn btn" style="margin: 0 auto;" id="eval{{ i }}">Evaluer</button>
                        <div id="encart_eval{{ i }}" class="encart_eval">
                            {{ form_start(forms[i]) }}
                            {{ form_row(forms[i].egoGame, { 'value': egoGame.id }) }}
                            {{ form_row(forms[i].value) }}
                            <input type="submit" name="submit" value="Valider" style="margin-top: 30px;" class="btn btn_grey lil_btn">
                            {{ form_end(forms[i]) }}
                        </div>
                    {% else %}
                        <span class="grey_text" style="display: block;text-align: center">{{ MaNote }}<em>/5</em></span>
                    {% endif %}
                </td>
                {% set i = i + 1 %}
            {% endif %}
        </tr>

    {% endfor %}
</table>