<div class="col-md-3">
    <div class="encart">
        <a href="{{ path('display_team', { 'ID' : offer.lineup.team.id }) }}">
            <div class="team_logo" style="{% if offer.lineup.team.logo != null %}background-image:url({{ asset('uploads/team_logo/') }}{{ offer.lineup.team.logo }}){% else %}background:grey{% endif %};"></div>
        </a>
        <div style="padding:0 10px;line-height: 18px;">
            <p style="text-transform: uppercase;font-weight: bold">{{ offer.lineup.team.name }}</p>
            <p class="grey_text">{{ offer.lineup.gamename }}</p>

            <p class="grey_text">{{ offer.title }}</p>
            <div style="width:100%;height:1px;background: #cbcbcb;margin:18px 0"></div>
            <p class="light_grey_text">En ligne depuis le {{ offer.createdAt | date('d/m/Y') }}</p>
            <a class="btn btn_grey" style="padding-bottom: 8px;padding-top: 8px;" href="{{ path('offer_show', { 'id' : offer.id }) }}">Consulter</a>
        </div>


    </div>
</div>