{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Offres de recrutement{% endblock title %}
{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Offres de recrutement</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



    <div class="content" style="padding:13px">
        <h1>Offres de recrutement</h1>
</div>

<div class="content" style="padding:0">
    <form style="position: relative;padding:30px 10px 0px" action="" method="GET" class="post">
        <div class="col-md-5">
            <input class="form-control" placeholder="Jeu vidéo" name="query" type="text">
        </div>
        <div class="col-md-5">
            <input class="form-control" placeholder="Intitulé du poste" name="poste" type="text">
        </div>
        <div class="col-md-2">
            <input class="btn btn_orange center_block" id="searchUser" type="submit" value="rechercher"/>
        </div>
        <div class="clearboth"></div>
    </form>

<div class="results">
    {% for offer in pagination %}

        {% include 'Offer/_offer.html.twig' %}


    {% endfor %}
    <div style="clear:both"></div>
    <div class="navigation center_block">
        {{ knp_pagination_render(pagination) }}
    </div>

</div>

</div>


{% endblock content %}

