{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Offre de {{ offer.lineup.team.name }} pour {{ offer.lineup.gameName }}{% endblock title %}
{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{path('offres_de_recrutement')}}">Offres de recrutement</a></li>
            <li class="active">Offre de {{ offer.lineup.team.name }} pour {{ offer.lineup.gameName }}</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



<div class="content" style="padding:0px">
    <h2 >Offre</h2>
    <div style="padding: 0px 29px 15px;">
     <div class="col-md-4">
        <h4>Recruteur</h4>
        <a href="{{ path('display_team', { 'ID' : offer.lineup.team.id }) }}">
                <div class="team_logo" style="float:left;margin-right: 20px;{% if offer.lineup.team.logo != null %}background-image:url({{ asset('uploads/team_logo/') }}{{ offer.lineup.team.logo }}){% else %}background:grey{% endif %};width:90px;height:90px;"></div>
                <p class="grey_text" style="margin-top: 46px;">{{ offer.lineup.team.name }}</p></a>
        </div>

        <div class="col-md-4">
                <h4>Jeu vidéo</h4>
                <img id="image" style="border-radius: 3px;margin-right: 20px;float:left" src="{{ offer.lineUp.image }}" alt=""  width="90px" height="auto">
                <p class="grey_text" style="margin-top: 46px;">{{ offer.lineup.gamename }}</p>


        </div>
        <div class="col-md-4">
        <h4>Intitulé du poste</h4>
                <p class="grey_text">{{ offer.title }}</p>
        <h4>Descriptif du poste</h4>
                <p class="grey_text">{{ offer.text }}</p>
</div>
        <div class="clearboth"></div>
    </div>

</div>
{# on verifie que le user n'ait pas déja postulé #}
{% set dejaPostule = 0 %}
{% for application in offer.applications %}
    {% if application.user == app.user %}
        {% set dejaPostule = 1 %}
    {%  endif %}
{% endfor %}

{% if is_granted('ROLE_USER') and offer.lineup.team.owner != app.user %}

    <div class="content" style="padding:0px">
        <h2>Candidater à cette offre</h2>
            <div style="padding: 0px 29px 15px;">

{% if dejaPostule == 0 %}
           {{ form_start(form) }}
         {{ form_row(form.text) }}
         <input type="submit" class="btn lil_btn btn_orange center_block" value="Candidater" />
         {{ form_end(form) }}
{% else %}
<i class="fas fa-check"></i> Vous avez déjà postulé à cette offre.
{%  endif %}

            </div>
    </div>
{% elseif offer.lineup.team.owner == app.user %}
<div class="content" style="padding:0px">
<h2>Candidatures</h2>
    <div style="padding:0 20px 10px">

        {% for application in offer.applications %}
        <a href="{{ path('user_show', { 'id' : application.user.id }) }}">
            <div class="encart col-md-3" style="line-height: unset;">
            {% if application.user.steamId == 0 %}
          <div style="width:58px;height:58px;border-radius:50%;background-image: url('{{ asset('uploads/profil_pic/') }}{{ application.user.profilPic }}');margin: 0 auto 5px;background-size: cover;"></div>
          {% else %}
            <div style="width:58px;height:58px;border-radius:50%;background-image: url('{{ application.user.avatar }}');margin: 0 auto 5px;background-size: cover;"></div>

          {% endif %}
            <p class="grey_text" style="text-align: center;font-size: 16px;">{{ application.user.pseudo }}{{ application.user.profileName }}</p></a>

                                    {% set MoyenneNote = -1 %}
                <p class="grey_text" style="font-weight: bold;font-size: 14px;">Jeux avec égo</p>
                <ul style="padding-left: 0">
                {% for egoGame in application.user.egoGames|slice(0, 4) %}

                    <li class="grey_text" style="list-style-type: none;">{{ egoGame.gameName}} :

                    {% set pubNoteArray = [] %}
                    {% set iterator = 0 %}
                    {% set sum = 0 %}
                    {% for pubNote in egoGame.pubNotes %}
                        {% set pubNoteArray = pubNoteArray|merge([pubNote]) %}
                        {% set sum = sum + pubNote.value %}
                        {% set iterator = iterator + 1 %}
                    {% endfor %}

                    {% set MoyenneNote = -1 %}
                    {% if pubNoteArray is not empty %}
                        {% if pubNoteArray is not empty %}

                            {% set MoyenneNote = sum / iterator %}
                            {% endif %}
                    {% endif %}

                    {% if MoyenneNote != -1%}
                        {{ MoyenneNote }}<em>/5</em>
                    {% else %}
                        ?
                    {% endif %}

                </li>

            {% endfor %}
</ul>
            <p class="grey_text" style="font-weight: bold;font-size: 14px;">Motivations</p>
            <p class="grey_text">{{ application.text }}</p>

            </div>



        {% else %}
        Personne n'a encore candidaté.
        {% endfor %}
        <div class="clearboth"></div>
    </div>
</div>
{% endif %}



{% endblock content %}

