@import url('https://fonts.googleapis.com/css?family=Roboto');

nav{
  padding: 0px 15px;
}

a:focus{
  text-decoration: none;
  outline: none;
}

*{
  font-family: 'Roboto', sans-serif;
}

html{
  height:100%;
}

body{
  height: calc(100% - 73px);
}

.container{
  width:1200px;
  margin:0 auto;
}

a:hover{
  text-decoration: none;
}



.grey_text{
  letter-spacing: 0.1px;
  font-size: 12px;
  color: #333333;
}

.light_grey_text{
  color: #cbcbcb;
  letter-spacing: 0.1px;
  font-size: 11px;
}

h4{
  font-weight: bold;
}

.btn{
  border-radius: 3px;
  padding-top:12px;
  padding-bottom: 12px;
  text-align: center;
  display:block;
  color:white;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 12px;
}

.seekchoice{
  padding:10px;
  font-size: 15px;
  background-color: #f5f5f5;
  color: #5f5f5f;
  text-align: center;
  margin-bottom: 20px;
}

.contacthover:hover{
  background: #edecec;
}

textarea:focus {
  outline: none;
}

.fenetrechat {
  height: 52%;
  overflow-y: scroll;
  padding: 0 15px;
  margin-bottom: 10px;
}

.fenetrechat .message{
  border-radius: 3px;
  background-color: #edeff1;
  padding: 10px;
  margin-bottom: 5px;
}

.contactactive{
  background: #edecec;
}

.answer{
  padding:10px;
}

.seekchoice.active:hover{
cursor:pointer;
background-color: #ffffff;
}

a.linkhover, .linkhover{
color:#333333;
}

a.linkhover:hover, .linkhover:hover{
text-decoration: underline;
}

.teamDisplayHover:hover{
background:#f5f5f5;
}

.seekchoice:hover{
cursor:pointer;
background-color: #f1f1f1;

}

.lil_btn{
padding:6px;
text-transform: initial;
max-width: 110px;
}

.big_btn{

width:230px;

}

.big_btn:hover, .btn:hover{
text-decoration: none;
color:white;
}

.btn_orange{
background-color: #ff5d03;
}

.btn_orange:hover{
background-color: #ff7403;
}

.btn_grey{
background-color: #292929;
}

.btn_grey:hover{
background-color: black;
}

.footer{
padding:10px;
background-color: #292929;
position: relative;
z-index: 3;
}

.footer a, .footer p{
font-size: 10px;
letter-spacing: 0.2px;
color: white;
margin: 3px 0px;
}

.footer .col-md-4 img{
width:50px;
margin:0 auto;
display:block;
}

.footer .col-md-4:nth-child(3){
font-size: 19px;
color:white;
text-align: right;
}

.footer .col-md-4:nth-child(3) i{
margin-left:20px;
vertical-align: bottom;
}

.center_block{
margin:0 auto;
}

header{
padding:15px;
box-shadow: 0px -8px 10px black;
position: fixed;
width: 100%;
top: 0;
z-index: 10;
background: white;
  min-height: 73px;

}

header i{
font-size:24px;
vertical-align: middle;
width:21px;
margin:0 14px;
cursor:pointer;
}

.floatLeft{
float:left;
}

header nav.right_nav{
float:right;
}

header nav.right_nav a.nav_element{
float:left;
margin-left: 50px;
position:relative;
}

header nav.right_nav a.nav_element img{
width:21px;
display:block;
margin:0 auto 5px;
}

header nav.right_nav a.nav_element svg{
position:absolute;

}


.navIcon{
position:absolute;
top: 13px;
fill:#6d6d6d;
}



header nav.right_nav a.nav_element span, nav.left_nav a.nav_element span{
font-size: 11.1px;
letter-spacing: 0.8px;
color:#6d6d6d;
}

nav.left_nav a.nav_element.active span{
color:black;
}

nav.left_nav a.nav_element:hover svg{
fill:black;
}


header nav.right_nav a.nav_element:hover span, nav.left_nav a.nav_element:hover span{

color:black;
}

.page{
margin-top: 73px;
background-color: #fafafa;
min-height: calc(100% - 57px);


}

.page .container{
width:1300px;
margin:0 auto;
}

.left_nav{
position:fixed;
background-color: #f5f5f5;
padding: 10px 0px;
height: calc(100% - 73px);
display:none;
z-index: 2;
}

nav.left_nav{

width:226.89px;
}

.pagination {
  display: inline-block;
}

.pagination a,.pagination span.current {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination span.current {
  background-color: #292929;
  color: white;
  border-radius: 5px;
}

.display_media{
  background:rgba(0,0,0,0.9);height:100%;width:calc(100%); margin-right: -226.89px;position:fixed;z-index:10;top:0;left:0;display: none;
}

.display_media i{
  font-size: 50px;position:absolute;color:white;right:20px;top:20px;
}

.post_media:hover{
  cursor:pointer;
}


.display_media i:hover{
  cursor:pointer;
  color: #ff7403;
}

.display_media img{
  margin:100px auto;display:block;max-width: 90%;max-height: 90%;
}

.pagination a:hover:not(.current) {
  background-color: #ddd;
  border-radius: 5px;
}

nav.left_nav a.nav_element{
display:block;
padding: 11px 0px 11px 50px;
position: relative;
}

nav.left_nav a.nav_element.active, nav.left_nav a.nav_element.active:hover{
font-weight:bold;
background-color: #dedede;

}

nav.left_nav a.nav_element.active svg{
fill:#ff5d03;
}

nav.left_nav a.nav_element:hover{
background: #edecec;
}

nav.left_nav a.nav_element span{
vertical-align: -webkit-baseline-middle;
font-size: 13px;
}

nav.left_nav a.nav_element img{
margin-right:16px;
}

.navOut{
display:block;
}

.flexpage{
width:calc(100% - 226.89px);
margin-left: 226.89px;
}

.team_logo{
height:167px;width:167px;border-radius: 3px;left:20px;top:20px;background-size: cover;background-position: center;
}

.encart .team_logo{
height:117px;width:117px;
margin:0 auto 20px;
}

.team_banner{
height:200px;width:100%;background-size: cover;background-position: center;box-shadow: 1px -6px 9px -11px #222 inset;
}

.content{
background-color: white;
padding:55px;
margin: 0 0 30px;
border-radius: 4px;
box-shadow: 0px 0px 6px 1px #f1f1f1;
position:relative;
}

.content .col-md-4{
padding:0;
}

.results{
padding:20px 10px;
}

.results .encart{
  margin-bottom: 30px;
}

.encart .kick{
  color: #cbcbcb;
}

.encart .kick:hover{
  color: black;
}

.navLogo{
width:17px;
height:17px;
background-size: cover;
background-position: center;
position: absolute;
border-radius: 3px;
left: 20px;
top: 15px;
}

.content h2{
font-size: 16px;
font-weight: bold;
margin-top: 0px;
border-bottom: 2px solid #fafafa;
padding:20px;

}

.content h1{
text-transform: uppercase;
text-align: center;
font-size: 24px;
font-weight:bold;
}

.content h1:after{
content:"";
width:300px;
height:3px;
display:block;
margin: 23px auto 20px;
background-color: #ff5d03;
}

.form-control{
box-shadow: unset;
-webkit-box-shadow: unset;
padding:23px 23px;
border-radius: 23px;
margin-bottom: 35px;
border: 1px solid #cbcbcb;
background: #faf9f9;
}

.select-form-control{
box-shadow: unset;
-webkit-box-shadow: unset;
padding:6px;
border-radius: 23px;
margin-bottom: 35px;
border: 1px solid #cbcbcb;
background: #faf9f9;
margin-right: 24px;
}

.select-form-control-100{
box-shadow: unset;
-webkit-box-shadow: unset;
padding:6px;
width:100%;
height:48px;
border-radius: 23px;
margin-bottom: 35px;
border: 1px solid #cbcbcb;
background: #faf9f9;
}

.alert{
margin-top:10px;
}

.navUser{
position: absolute;
top: 0;
left: 0;
}

#toggle-block{
color:black;
}

.encart_profil{
display: none;
position: fixed;
background-color: white;
top: 87px;
overflow: hidden;
right: 12px;
font-size: 12px;
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.05);
border-radius: 4px;
}

.padding_int{
padding:20px;
}

.show{
display:block;
}

.encart_profil ul{
padding-left: 0;
list-style-type: none;
margin-bottom: 0;

}

.encart_profil ul li a {
padding: 13px 23px;
display: block;
font-size: 11px;
color:#6d6d6d;
letter-spacing: 0.8px;
}
.encart_profil ul li a:hover {
background:#f5f5f5;
color:black;
}

.navigation{
text-align: center;
}

.encart{
padding: 10px 10px;
line-height: 31px;
border: 2px solid #fafafa;
}

.navUser a{
padding: 15px;
width: 192px;
display: inline-block;
font-size: 11px;
letter-spacing: 0.8px;
text-align: center;
border-collapse: collapse;
color: #757575;
background: #fafafa;
margin-right: -4px;

}

.navUser a.active{
background: white;
border-bottom-color: white;
z-index: 9;
position: relative;
color:black;
}

.navUser a:hover{
background-color: #edecec;
}

.navUser a.active:hover{
background-color: white;

}

#output_image, #output_banner
{
position: absolute;
min-height: 100%;
max-width: 100%;
min-width: 100%;
}


@media screen and (max-width: 700px)
{
  header nav.right_nav a.nav_element span{
    display:none;
  }

  header nav.right_nav a.nav_element span{
    display:none;
  }

  header nav.right_nav a.nav_element {
    margin-left: 25px;
  }

  header img{
    width:30%;
  }

  .left_nav{
    display: block;
  }

  .navOut{
    display:none;
  }



  .nomarg{
    margin-left: 0!important;
  }

  nav {
    padding: 10px 0px;
  }
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
color: #ff5d03;
}

.has-error .form-control {
border-color: #ff5d03;
-webkit-box-shadow: none;
box-shadow: none;
}

.ava_overflow{
border-radius: 50%;
overflow: hidden;
width: 200px;
height: 200px;
position: relative;
margin: 10px 0;
}

.banner_overflow{
border-radius: 3PX;
overflow: hidden;
width: 100%;
height: 200px;
position: relative;
margin: 10px 0;

}

th{
text-align: center;
}

em{
color:#cccccc;
font-size: 11px;
}

.encart_eval{
display: none;
position:relative;
}

#user_info_profilPic, #post_media, #team_banner, #team_logo{
display:none;
}

#post_text{
margin-bottom: 15px;
}

#twitch-embed iframe{
width:100%;
min-height: 523px;
}

#icone_image{
float: left;
font-size: 21px;
color:#cbcbcb;
margin-top: 5px;
}

#icone_image:hover{
cursor:pointer;
color: #292929;
}

#output_post{
clear: both;
position: relative;
display: block;
max-width: 200px;
max-height: 200px;
border-radius: 3px;
}


.post{
padding: 28px 55px;
border-bottom: 2px solid #fafafa;
position: relative;
}

.post .profilePicture{
width:116px;
height:116px;
border-radius:50%;
background-size: cover;
float:left;
}

.post .profileTeam{
width:30px;
height:30px;
border-radius:4px;
background-size: cover;
position: absolute;
top:28px;
left: 51px;
background-position: center;
opacity: 0.5;
}

.post .profileTeam:hover{
opacity: 1;
cursor:pointer;
}


.content .post:last-child{
border-bottom: none;
}

.post:hover{
/*background-color: #fdfdfd;*/
}

.clearboth{
  clear:both;
}

.ppblocprofhover, .ppblocbannerhover{
  height:100%;
  width:100%;
  background-color: black;
  opacity: 0.8;
  cursor:pointer;
  text-align: center;
  color:white;
  display: none;
}

.ppblocprofhover i, .ppblocbannerhover i{
  font-size: 30px;
}

.ava_overflow:hover > .ppblocprofhover{
  display:block;
}

.banner_overflow:hover > .ppblocbannerhover{
  display:block;
}

.alert-teamup {
  color: #777777;
  background-color: #eeeeee;
  border-color: #cbcbcb;}

.steamuser{
  padding-right: 15px;
  padding-left: 15px;
}

.post_content{
  display:inline-block;
  margin-left: 30px;
}

.post_content a.pseudo{
  margin-bottom: 14px;
  display:block;
  color:black;
  font-weight: bold;
}

.post_content p{
  font-size: 12px;
  margin: 10px 0 20px;
}

.post_content .post_media{
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 24px;
  border-radius: 3px;
}

.datePost{
  float:right;
  font-size: 12px;
  color: #929292;
}

.post_content .suppr{
  position: absolute;
  top: 27px;
  right: 30px;
}

.post_content .suppr a{

  color:#cbcbcb;
}

.post_content .suppr a:hover{
  color:black;
}

.post_content .reactions{
  position: absolute;
  bottom: 7px;

}

.post_content .reactions a{
  color:black;
}

.post_content .reactions svg{
  width:20px;
  display:block;
  fill: #e2e2e2;
  float:left;
  margin-right:10px;
}

.breadcrumb{
  background: none;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 12px;
}

.breadcrumb a{
  color:#333333;
}

.breadcrumb a:hover{
  color:#ff7403;
}

.breadcrumb>.active{
  color:#ccc;
}

.post_content .reactions svg:hover{
  fill:black;
  cursor:pointer;
}

.hide{
  display:none;
}

#recherche:hover{
    cursor:pointer;
    color:#ff7403;
}

.widgetHeader-2Hz_Ln{
  background: white !important;
}

@media screen and (max-width: 1520px) {
  .page .container{
    width:100%;
  }
}


@media screen and (max-width: 1200px)
{
  .hidden-phone{
    display:none;
  }
}

@media screen and (max-width: 700px)
{
  .flexpage{
    width:100%;
    margin-left: 0;
  }

  .hidden-phone{
    display:none;
  }
}

.notif{
  padding:20px;
  border: 2px solid #fafafa;

}

.notif_count{
position: absolute;
  background-color: #ff7403;
  color:white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  top: -3px;
  right: 19px;
}