nav{
  padding: 0px 15px;
  background-color: #d8d8d8;
}

html, body{
  height:100%;
}

.home_block_1{
  width:100%;
  height:100%;
  background-image: url("../assets/images_statiques/fond.jpg");
  background-position: center;
  position:relative;
  background-size: cover;
}

.home_block_1 .hitman{
  position:absolute;
  bottom:0;
  width:30%;

}

.home_block_1 .samourai{
  position:absolute;
  right:0;
  bottom:-75px;
  width:39%;

}

.home_block_1 .container .logo{
  display:block;
  margin: 150px auto -63px;
}

@media screen and (max-width: 1200px)
{
  .home_block_1 .container .logo{
    width:100%;
  }
}

.btn_container{
  width:490px;
  margin:0 auto;
  position:relative;
}

.home_block_1 .container .btn_container .big_btn{
    float:left;
    margin:0 7.5px;
}

.flechebottom{


  width:50px;
  height:43px;
  position:absolute;
  bottom:10px;
  left:calc(50% - 25px);
  animation:fleche 0.8s infinite alternate;


}


@keyframes fleche{
  /*points clés*/
  0%{
    transform: translateY(0);

  }

  100%{
    transform: translateY(10px);

  }

}


.home_block_2{
  position:relative;
  padding:100px 0;
}

.home_block_2 h1{
  padding:19px 33px;
  line-height: 36px;
  width:705px;
  background-color: #292929;
  color:white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  position:absolute;
  right:0;
}

.home_block_2 .content_home{
  margin-top: 178px;
  padding-left: 30px;
}

@media screen and (max-width: 1100px)
{
  .home_block_2 .container .col-md-6 img{
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .home_block_2 h1{
    position:unset;
    display:block;
    margin:0 auto;
    width:auto;
  }

  .home_block_2 .content_home {
    margin-top: 38px;
    padding-left: 0px;
  }
  .container{
    width: 100%;
  }

}



.home_block_2 .witchhunter{
  position: absolute;
  bottom: 0;
    width:26%;
}

.home_block_3{
  background-image: url("../assets/images_statiques/fond2.jpg");
  background-size: cover;
  padding:110px 40px;
}

.home_block_3 .col-service .service{
  width:80%;
  background-color: white;
  margin:0 auto;
  padding:20px;
  position:relative;
}

@media screen and (max-width: 990px)
{
    .home_block_3 .col-service .service{
        margin-bottom: 30px;
    }
}


.home_block_3 .col-service .service img{
  margin:50px auto 30px;
  width:initial;
  display:block;
}

.home_block_3 .col-service .service h2{
  text-align: center;
  font-size:16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.home_block_3 .col-service .service .btn{
  margin:40px auto 10px;
}

.home_block_3 .col-service .service .bande_service{
  width:100%;
  height:6px;
  background-color: #ff5d03;
  position:absolute;
  top:0;
  left:0;
}

.home_block_4{
  background-color: #f7f7f7;
  position:relative;
  padding:80px 0;
}

.home_block_4 img{
  position:absolute;
  top:-50px;
  right:0;
}

.home_block_4 h3, .home_block_5 h3{
  margin-bottom: 50px;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 36px;
  color:#292929;
  text-transform: uppercase;
  font-weight: bold;
}

.home_block_5{
  position:relative;
  padding:20px;
}

.home_block_5 .scorpion{
  position:absolute;
  left:0;
  bottom:0;
}

.home_block_5 h3{
  text-align: center;
}

.home_block_4 h3:after, .home_block_5 h3:after{
  content: "";
  width: 300px;
  display: block;
  margin: 10px 0;
  height: 3px;
  background-color: #ff5d03;
}

.home_block_5 h3:after{
    margin: 10px auto;

}

.home_block_5 .container .col-md-3 img{
  display:block;
  width:initial;
  margin:0 auto;
}

.home_block_5 .container .col-md-6 img:first-child{
  margin-right: 74px;
  margin-left: 36px;

}

.home_block_5 .container .secrow img:first-child{
  margin-right: 107px;
  margin-left: 42px;

}

@media screen and (max-width: 1180px)
{


}