{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Inscription{% endblock %}
{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Inscription</li>
        </ol>
    </div>
{% endblock page %}
{% block content %}
    <div class="content">
    <a  class="btn btn_grey" style="position:absolute;top: 39px;right: 62px;" href="{{ path('login') }}">Déjà membre</a>
    <h1>Inscription</h1>
    {{ form_start(registerForm) }}
    {{ form_row(registerForm.email) }}
    {{ form_row(registerForm.pseudo) }}
    {{ form_row(registerForm.plainPassword.first) }}
    {{ form_row(registerForm.plainPassword.second) }}
    <button type="submit" class="btn btn_orange big_btn" style="margin:65px auto 47px;">S'inscrire</button>
    {{ form_end(registerForm) }}
  </div>

{% endblock content %}