{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Security:accessDenied{% endblock title %}

{% block content %}
  <h1>Welcome to the Security:accessDenied page</h1>

  <div>
    {#  Si l'utilisateur n'a pas validé son email  #}
    {% if is_granted('ROLE_USER_PENDING') %}
      Merci de bien vouloir valider votre email avant de pouvoir accéder à ce contenu<br>
      Vous n'avez pas reçu d'email de validation ? <a href="{{ path('accessdenied', {'resendEmailValidation': 1}) }}">Envoyer à nouveau</a>
    {#  Si l'utilisateur a validé son email, mais n'est pas admin  #}  
    {% elseif is_granted('ROLE_ADMIN') == false %}
      Vous devez être administrateur pour accéder à ce contenu
    {% endif %}
  </div>

  <nav>
    <a href="{{ path('home') }}">Home</a><br>
    <a href="{{ path('dashboard') }}">Dashboard</a><br>
    <a href="{{ path('user') }}">User</a><br>
    <a href="{{ path('administration') }}">Administration</a><br>
    <a href="{{ path('logout') }}">Logout</a><br>
  </nav>
{% endblock content %}

