{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Messagerie{% endblock title %}

{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Messagerie</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



    <div class="content" style="padding:13px">

        <h1>Messagerie</h1>
</div>
    <div class="row">
        <div class="col-md-4">
        <div class="content" style="padding:0">
            <h2>Contacts</h2>
            {% for chat in app.user.chats %}
                {% for user in chat.users %}
                    {% if user != app.user %}

                        <a href="{{ path('chat_show', { 'id' : chat.id }) }}" style="display:block;padding:20px;position:relative;" class="contacthover {% if app.request.get('_route') == 'chat_show' and app.request.get('_route_params').id == chat.id %}contactactive {% endif %}">
                            {% if user.steamId == 0 %}
                                <div style="float:left;margin-right:20px;width:28px;height:28px;border-radius:50px;background-image: url('{{ asset('uploads/profil_pic/') }}{{ user.profilPic }}');background-size: cover;"></div>
                                <span class="grey_text">{{ user.pseudo }}</span>
                            {% else %}
                                <div style="margin-right:20px;float:left;width:28px;height:28px;border-radius:50px;background-image: url('{{ user.avatar }}');background-size: cover;"></div>
                                <span class="grey_text">{{ user.profileName }}</span>
                            {% endif %}



                    {% endif %}

                {% endfor %}
                {% set iteratorNewMess = 0 %}
            {% for message in chat.messages if message.user != app.user and message.status == 0 %}
                {% set iteratorNewMess = iteratorNewMess + 1 %}
            {% endfor %}

                {% if iteratorNewMess > 0 %}
                <div class="notif_count" style="    top: 24px;">{{ iteratorNewMess }}</div>
            {% endif %}
                </a>
                <div class="clearboth"></div>
            {% endfor %}
        </div>
        </div>
        <div class="col-md-8">
        <div class="content" style="padding:0;    height: 584px;">
            {% for user in chat.users %}
                {% if user != app.user %}
                <h2>{{ user.pseudo }}{{ user.profileName }}</h2>
                {% endif %}
            {% endfor %}
            <div class="fenetrechat">
                {% for message in chat.messages %}
                    <div class="message" {% if message.user == app.user %} style="float:right;"{% else %}style="float:left;" {% endif %}>
                        {{ message.content }}
                    </div>

<div class="clearboth"></div>
                {% endfor %}

            </div>

            <div style="padding:20px;">
<div class="answer form-control" style="height:unset;position:relative;">


            {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn_orange btnSubmit" style="position:absolute;height: 90px;width: 100px;top: 32px;right: 19px;" >Répondre</button>

            {{ form_end(form) }}
</div>
        </div>
        </div>

        </div>
    </div>





{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>

        const FORM = document.querySelector('#FORM');
        let btnSubmit = document.querySelector('.btnSubmit');
        let textAreaListener = document.querySelector('.input1');

        $(document).ready(function($) {
            $(textAreaListener).keypress(function(e) {
                // console.log(e.keyCode);
                if(e.keyCode === 13) {
                    $(btnSubmit).click();
                }
            });
        });

        console.clear();

        var objDiv = document.querySelector('.fenetrechat');
        objDiv.scrollTop = objDiv.scrollHeight;


    </script>
{% endblock javascripts %}

