{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Messagerie{% endblock title %}
{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Messagerie</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



    <div class="content" style="padding:13px">
        <h1>Messagerie</h1>
</div>



            <div class="row">
                <div class="col-md-4">
                    <div class="content" style="padding:0">
                        <h2>Contacts</h2>
                        {% for chat in app.user.chats %}
                            {% for user in chat.users %}
                                {% if user != app.user %}

                                    <a href="{{ path('chat_show', { 'id' : chat.id }) }}" style="display:block;padding:20px;position:relative;" class="contacthover {% if app.request.get('_route') == 'chat_show' and app.request.get('_route_params').id == chat.id %}contactactive {% endif %}">
                                    {% if user.steamId == 0 %}
                                        <div style="float:left;margin-right:20px;width:28px;height:28px;border-radius:50px;background-image: url('{{ asset('uploads/profil_pic/') }}{{ user.profilPic }}');background-size: cover;"></div>
                                        <span class="grey_text">{{ user.pseudo }}</span>
                                    {% else %}
                                        <div style="margin-right:20px;float:left;width:28px;height:28px;border-radius:50px;background-image: url('{{ user.avatar }}');background-size: cover;"></div>
                                        <span class="grey_text">{{ user.profileName }}</span>
                                    {% endif %}



                                {% endif %}

                            {% endfor %}
                            {% set iteratorNewMess = 0 %}
                            {% for message in chat.messages if message.user != app.user and message.status == 0 %}
                                {% set iteratorNewMess = iteratorNewMess + 1 %}
                            {% endfor %}

                            {% if iteratorNewMess > 0 %}
                                <div class="notif_count" style="    top: 24px;">{{ iteratorNewMess }}</div>
                            {% endif %}
                            </a>
                            <div class="clearboth"></div>
                        {% else %}
                            <p style="padding:0 20px 20px;">  <i class="fas fa-comment-slash" style="margin-right: 5px;"></i>Aucune conversation entamée.</p>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="content" style="padding:0;height: 700px;">
                        <div style="padding:168px 20px;text-align: center;">
                            <p style="margin-bottom: 50px">Vous cherchez à contacter un utilisateur ? Consultez l'annuaire des joueurs !</p>
                            <a style="margin-bottom: 50px" class="btn btn_grey big_btn center_block" href="{{path('annuaire_joueurs')}}">Rechercher un utilisateur</a>
                            <svg style="width: 50px;fill:bisque" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.99 80"><title>Annuaire</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><polygon points="44 1.17 44 16 58.83 16 44 1.17"/><path d="M38,68A18,18,0,1,1,56,50a17.33,17.33,0,0,1-.61,4.54L60,58V20H42a2,2,0,0,1-2-2h0V0H2A2,2,0,0,0,0,2H0V78a2,2,0,0,0,2,2H58a2,2,0,0,0,2-2h0V73L48.62,64.46A17.86,17.86,0,0,1,38,68Z"/><path d="M67.2,68.4,50.62,56A13.84,13.84,0,0,0,52,50a14.15,14.15,0,1,0-3.61,9.29L64.8,71.6a2,2,0,0,0,2.4-3.2ZM38,60A10,10,0,1,1,48,50,10,10,0,0,1,38,60Z"/></g></g></svg>

                        </div>

                    </div>

                </div>
            </div>








{% endblock content %}

