{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Authentification{% endblock %}

{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Authentification</li>
        </ol>
    </div>
{% endblock page %}

{% block content %}
    <div class="content">
    <h1>Authentification</h1>
    {% if error %}
      {% if error.code == 0 %}
        <div class="alert alert-danger">Mauvais identifiants</div>
      {% endif %}
    {% endif %}
        {% include '@KnojectorSteamAuthentication/login.html.twig' with { 'btn': 2 } %}
    <form action="{{ path('login') }}" method="post">

      <input class="form-control" type="text" id="username" name="_username" placeholder="E-mail" value="{{ last_username }}" />


      <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe"/>



      <button type="submit" class="btn big_btn btn_orange" style="margin: 65px auto 20px;;">S'authentifier</button>
    </form>

    <a style="text-align: center;display:block;" href="{{ path('lostpassword') }}">Mot de passe perdu</a><br>
    <a style="text-align: center;display:block;"  href="{{ path('register') }}">Créer un compte</a>
    </div>
{% endblock content %}