{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />
{% endblock %}

{% block body %}

  {# Un header serait le bienvenu #}
  <header>
    <a href="javascript:void(0);" id="toggle-block"><i class="fas fa-bars"></i></a>
    <a href="{{path('dashboard')}}"><img src="{{ asset('assets/images_statiques/logonav.png') }}" alt="logo teamup"></a>
    {% if is_granted('ROLE_USER') %}
      <nav class="right_nav">
        <a href="{{path('messagerie')}}" class="nav_element nomarg">
          {% set globalIteratorNewMess = 0 %}
          {% for chat in app.user.chats %}
            {% for message in chat.messages if message.user != app.user and message.status == 0 %}
              {% set globalIteratorNewMess = globalIteratorNewMess + 1 %}
            {% endfor %}
          {% endfor %}
          {% if globalIteratorNewMess > 0 %}
            <div class="notif_count">{{ globalIteratorNewMess }}</div>
          {% endif %}
          <img src="{{ asset('assets/images_statiques/trueSVG/Messages.svg') }}" alt="icone messagerie">
          <span>Messagerie</span>
        </a>
        <a href="{{path('usernotification')}}" class="nav_element" style="position:relative;">
          {% set notif_count = 0 %}
          {% for notification in app.user.notifications %}
            {% if notification.status == 0 %}
              {% set notif_count = notif_count + 1 %}
            {% endif %}
          {% endfor %}

          {% if notif_count > 0 %}
            <div class="notif_count">{{ notif_count }}</div>
          {% endif %}
          <img style="width:14px;" src="{{ asset('assets/images_statiques/trueSVG/Bell.svg') }}" alt="icone notifications">
          <span>Notifications</span>
        </a>
        <a href="javascript:void(0);" id="toggle-profil" class="nav_element">
          {% if app.user.steamId == 0 %}
          <div style="width:18px;height:18px;border-radius:50px;background-image: url('{{ asset('uploads/profil_pic/') }}{{ app.user.profilPic }}');margin: 0 auto 5px;background-size: cover;"></div>
          <span>{{ app.user.pseudo }}</span>
          {% else %}
            <div style="width:18px;height:18px;border-radius:50px;background-image: url('{{ app.user.avatar }}');margin: 0 auto 5px;background-size: cover;"></div>
            <span>{{ app.user.profileName }}</span>
          {% endif %}
        </a>
        <div id="encart_profil" class="encart_profil">
          <ul>
            <li><a href="{{ path('user_show', { 'id' : app.user.id }) }}">Profil</a></li>
            <li><a href="{{ path('user') }}">Informations du compte</a></li>
            <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
          </ul>

        </div>
      </nav>
    {% else %}
    <nav class="right_nav" style="width:254px;    padding: 4px 15px 0px;">
      <a class="btn lil_btn btn_grey" style="float:right"  href="{{ path('login') }}">S'authentifier</a>
      <a class="btn lil_btn btn_orange" href="{{ path('register') }}">S'enregistrer</a>

    </nav>
    {% endif %}

  </header>
  <nav class="left_nav navOut" id="left_nav">
    <a href="{{path('dashboard')}}" class="nav_element {% if app.request.get('_route') == 'dashboard' %}active{% endif %}">
      <svg class="navIcon" style="width:15px;left: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415.82 449.45"><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M402.62,149.86c-1.56-1.22-3.23-2.52-5-4C389,139,378.94,130.8,368,121.93c-44.34-35.88-105.05-85-138.64-111C219.32,3.17,213.15,0,208,0c-5.8,0-11.94,4.1-21.95,12.17L7.74,156C.43,161.84,0,162.84,0,173.75v263a12.76,12.76,0,0,0,12.76,12.73h110.5A12.75,12.75,0,0,0,136,436.72V264.66a5,5,0,0,1,5-5H273.93a5,5,0,0,1,5,5V436.72a12.76,12.76,0,0,0,12.76,12.73H403.05a12.76,12.76,0,0,0,12.76-12.73V173.34C415.82,160.17,412.49,157.57,402.62,149.86Z"/></g></g></svg>
      <span>Accueil</span>
    </a>
    <a href="{{path('annuaire_joueurs')}}" class="nav_element {% if app.request.get('_route') == 'annuaire_joueurs' or app.request.get('_route') == 'annuaire_equipes' %}active{% endif %}">
      <svg class="navIcon" style="width: 16px;left: 21px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.99 80"><title>Annuaire</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><polygon points="44 1.17 44 16 58.83 16 44 1.17"/><path d="M38,68A18,18,0,1,1,56,50a17.33,17.33,0,0,1-.61,4.54L60,58V20H42a2,2,0,0,1-2-2h0V0H2A2,2,0,0,0,0,2H0V78a2,2,0,0,0,2,2H58a2,2,0,0,0,2-2h0V73L48.62,64.46A17.86,17.86,0,0,1,38,68Z"/><path d="M67.2,68.4,50.62,56A13.84,13.84,0,0,0,52,50a14.15,14.15,0,1,0-3.61,9.29L64.8,71.6a2,2,0,0,0,2.4-3.2ZM38,60A10,10,0,1,1,48,50,10,10,0,0,1,38,60Z"/></g></g></svg>
      <span>Annuaire</span>
    </a>
    <a href="{{ path('offres_de_recrutement') }}" class="nav_element {% if app.request.get('_route') == 'offres_de_recrutement' %}active{% endif %}">
      <svg class="navIcon" style="width: 21px;left: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>Recruit</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M43,58.78v13q-.9-.29-1.76-.65V60.76A1.88,1.88,0,0,1,43,58.78Zm14,0v13q.9-.29,1.76-.65V60.76A1.92,1.92,0,0,0,57,58.78Zm15.71-8.63a22.65,22.65,0,0,1-8.22,17.48V59.5c0-5.58-5.41-10.1-11-10.1h-7c-5.58,0-11,4.52-11,10.11v8.14A22.7,22.7,0,1,1,72.69,50.16ZM58.55,39.63A8.55,8.55,0,1,0,50,48.17,8.55,8.55,0,0,0,58.55,39.63ZM100,47.34v5.32H91.57a41.71,41.71,0,0,1-38.9,38.9V100H47.34V91.56a41.71,41.71,0,0,1-38.9-38.9H0V47.34H8.44a41.71,41.71,0,0,1,38.9-38.9V0h5.32V8.44a41.71,41.71,0,0,1,38.9,38.9ZM77.61,52.66V47.34h4.94a32.72,32.72,0,0,0-29.9-29.9v4.94H47.34V17.44a32.72,32.72,0,0,0-29.9,29.9h4.94v5.32H17.44a32.72,32.72,0,0,0,29.9,29.9V77.61h5.32v4.94a32.72,32.72,0,0,0,29.9-29.9H77.61Z"/></g></g></svg>
      <span>Offres de recrutement</span>
    </a>
    {% if is_granted('ROLE_USER') and not_teamed.isUserTeamed == 1 %}
      <a href="{{ path('create_team') }}" class="nav_element {% if app.request.get('_route') == 'create_team' %}active{% endif %}">
        <svg class="navIcon" style="width:18px;left: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.75 82.05"><title>Gestion</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><g id="a"><path d="M67.4,42.65h.05a11.41,11.41,0,0,0-.05-16.1h.05a11.51,11.51,0,0,0-14.6-1.35.6.6,0,0,0-.2-.15L27.8,9.15a6.51,6.51,0,0,0,.4-2.3A6.62,6.62,0,0,0,26.15,2a6.53,6.53,0,0,0-4.8-2,6.77,6.77,0,0,0-4.9,2h0a6.77,6.77,0,0,0-2,4.85,6.68,6.68,0,0,0,2,4.85v.05a6.85,6.85,0,0,0,4.9,1.95,6.61,6.61,0,0,0,4.8-1.95V11.7a2.07,2.07,0,0,0,.4-.4L51,26.9a12,12,0,0,0-2.2,3.45A11.25,11.25,0,0,0,48,34.6a11.07,11.07,0,0,0,1,4.7L40.1,46.2a22.93,22.93,0,0,0-2-2.25,21.56,21.56,0,0,0-15.75-6.5,21.61,21.61,0,0,0-15.8,6.5A21.52,21.52,0,0,0,0,59.75a21.49,21.49,0,0,0,6.55,15.8V75.5a21.53,21.53,0,0,0,15.8,6.55,21.5,21.5,0,0,0,15.75-6.5V75.5a21.37,21.37,0,0,0,6.55-15.75,21.69,21.69,0,0,0-3.1-11.45l8.7-6.85a10.74,10.74,0,0,0,1.05,1.2,11.35,11.35,0,0,0,16.1,0Z"/></g></g></g></svg>
        <span>Création de structure</span>
      </a>
    {% elseif is_granted('ROLE_USER') and app.user.lineup != null %}
    <a href="{{ path('display_team', { 'ID' : app.user.lineup.team.id }) }}" class="nav_element {% if app.request.get('_route') == 'display_team' and app.request.get('_route_params').ID == app.user.lineup.team.id %}active{% endif %}">
      <div class="navLogo" style="{% if app.user.lineup.team.logo != null %}background-image:url({{ asset('uploads/team_logo/') }}{{ app.user.lineup.team.logo }}){% else %}background:grey{% endif %};"></div>

      <span>{{ app.user.lineup.team.name }}</span>
    </a>
    {% elseif is_granted('ROLE_USER') and app.user.team != null %}
      <a href="{{ path('display_team', { 'ID' : app.user.team.id }) }}" class="nav_element {% if app.request.get('_route') == 'display_team' and app.request.get('_route_params').ID == app.user.team.id %}active{% endif %}">
        <div class="navLogo" style="{% if app.user.team.logo != null %}background-image:url({{ asset('uploads/team_logo/') }}{{ app.user.team.logo }}){% else %}background:grey{% endif %};"></div>
        <span>{{ app.user.team.name }}</span>
      </a>

    {% endif %}
  </nav>
  {# Un menu lateral serait le bienvenu #}

  {# Contient les messages d'alertes et le contenu de la page #}
  <div class="page flexpage" id="page">
    {% block page %}
    {% endblock page %}
    <div class="container">
        {% block container %}
          {#
            Ici on affiche des messages flashs s'il y en a.
            Il s'agit de messages stockés en session et immédiatement effacés.
            Pratique pour afficher des petites infos, alertes, etc
            Plus d'infos : https://symfony.com/doc/3.4/controller.html#flash-messages
          #}
          {% block flashmessage %}
            {% for label, messages in app.flashes() %}
              {% for message in messages %}
                <div class="alert alert-{{ label }}">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  {{ message }}
                </div>
              {% endfor %}
            {% endfor %}
          {% endblock flashmessage %}

          {# Ici on affiche le contenu du site #}

            {% block content %}
            {% endblock content %}

        {% endblock container %}
    </div>
   </div>
  {% block footer %}
    <div class="footer">
      <div class="col-md-4">
        <p><a href="{{ path('home') }}">Présentation</a> - <a href="">Mentions légales</a> - <a href="">Gestion des données personnelles</a></p>
        <p>Copyright © 2019 : Julien Dauzet & Guillaume Gueulle</p>
      </div>
      <div class="col-md-4"><img src="{{ asset('assets/images_statiques/minilogo.png') }}" alt="minilogo teamup"></div>
      <div class="col-md-4"><i class="fab fa-twitch"></i><i class="fab fa-discord"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i></div>
      <div style="clear:both"></div>
    </div>
  {% endblock footer %}

{% endblock body %}

{% block javascripts %}
  {{ parent() }}


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>

    let toggleBlock = jQuery("#toggle-block");
    toggleBlock.click(function() {

      $("#left_nav").toggleClass("navOut");
      toggleBlock.toggleClass("");
      $("#page").toggleClass("flexpage");
    });

    let toggleProfil = jQuery("#toggle-profil");
    toggleProfil.click(function() {

      $("#encart_profil").toggleClass("show");
    });




  </script>


{% endblock javascripts %}