{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />
{% endblock %}

{% block body %}

  {# Un header serait le bienvenu #}

  {# Un menu lateral serait le bienvenu #}

  {# Contient les messages d'alertes et le contenu de la page #}
  {% block container %}
    {#
      Ici on affiche des messages flashs s'il y en a.
      Il s'agit de messages stockés en session et immédiatement effacés.
      Pratique pour afficher des petites infos, alertes, etc
      Plus d'infos : https://symfony.com/doc/3.4/controller.html#flash-messages
    #}
    {% block flashmessage %}
      {% for label, messages in app.flashes() %}
        {% for message in messages %}
          <div class="alert alert-{{ label }}">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endblock flashmessage %} 
    
    {# Ici on affiche le contenu du site #}
    {% block content %}
    {% endblock content %}
  {% endblock container %}

  {% block footer %}
    <div class="footer">
      <div class="col-md-4">
        <p><a href="">Mentions légales</a> - <a href="">Gestion des données personnelles</a></p>
        <p>Copyright © 2019 : Julien Dauzet & Guillaume Gueulle</p>
      </div>
      <div class="col-md-4"><img src="{{ asset('assets/images_statiques/minilogo.png') }}" alt="minilogo teamup"></div>
      <div class="col-md-4"><i class="fab fa-twitch"></i><i class="fab fa-discord"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i></div>
      <div style="clear:both"></div>
    </div>
  {% endblock footer %}

{% endblock body %}

{% block javascripts %}
  {{ parent() }} 
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock javascripts %}