{% extends "base.html.twig" %}

{% block title %}Confirmer votre inscription{% endblock title%}

{% block body %}

    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        *{
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
        }

        table{
            border-spacing: 0px;
        }

        td{
            padding:0;
        }

        p{
            padding-bottom: 10px;
        }
    </style>
        <table style="width:100%">
            <tr style="height:80px;width:100%;">
                <td style="text-align: center;border-bottom: 1px solid #e5e5e5">
                    <img src="https://i.ibb.co/5Lk6cxq/logonav.png">
                </td>
            </tr>
            <tr style="width:100%;">
                <table style="width:600px;margin:0 auto;">
                    <tr>
                        <td background="https://i.ibb.co/vxHGwTW/fond-mail82.jpg" style="background-repeat: no-repeat" bgcolor="#ffffff" width="600" height="390" valign="top">
                        <!--[if gte mso 9]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:690px;">
                          <v:fill type="tile" src="https://i.ibb.co/927Mg6P/fond-mail.jpg" color="#ffffff" />
                          <v:textbox inset="0,0,0,0">
                        <![endif]-->
                        <div>

                            <!-- Contenu TD -->
                            <table style="margin-top:58px;">
                                <tr>
                                    <td style="width:50px">

                                    </td>
                                    <td style="padding:5px 42px;letter-spacing: 0.5px;font-size:14px;line-height: 18px;text-align: justify;background-color: rgba(255, 255, 255, .82);border:1px solid #dadada;border-radius:4px;height:252px;">
                                        <p>Bienvenue sur <span style="font-weight:bold;">TeamUP</span>,</p>

                                        <p>Afin de <span style="font-weight:bold;">finaliser votre inscription</span> veuillez cliquer sur le gros bouton juste en dessous !</p>



                                    </td>
                                    <td style="width:50px">

                                    </td>
                                </tr>


                            </table>
                        </div>
                        <!--[if gte mso 9]>
                        </v:textbox>
                        </v:rect>
                        <![endif]-->
                        </td>

                    <tr>

                        <td>
                            <a style="width:500px;margin: 0 auto;padding:17px;background-color: #ff5d03;display:block;color:white;text-align: center;text-decoration: none;border-radius: 4px;text-transform: uppercase;letter-spacing: 1.3px;font-size: 12px;" href="{{link}}">Valider mon inscription</a>
                        </td>

                    </tr>
                </table>
            </tr>

        </table>
        <table style="width:100%;margin-top:25px;">
            <tr style="height:180px;width:100%;">
                <td style="text-align: center;background-color:#1a171b;font-size:10px;color:white;">
                    <a href=""><img style="width:45px;" src="https://i.ibb.co/nmNP8GW/minilogo.png"></a>
                    <p style="padding-bottom: 0px;">Politique de confidentialité</p>
                    <p style="padding-bottom: 0px;">Mentions légales</p>
                    <p style="padding-bottom: 0px;margin:0 auto;width:50px;">
                        <a href=""><img style="display:block;float:left" src="https://i.ibb.co/TKbj62z/twi.jpg"></a>
                        <a href=""><img style="display:block;float:right" src="https://i.ibb.co/SrgBjFg/fb.jpg"></a>
                    </p>
                </td>
            </tr>
        </table>

{% endblock body %}