{% extends "/layout.html.twig" %}

{% block title %}App:Administration:administration{% endblock title %}

{% block content %}
  <h1>Welcome to the Administration:administration page</h1>

  <div>
    <a href="{{path('administration')}}">Administration</a>
    <a href="{{path('administrationusers')}}">Liste des utilisateurs</a>
  </div>  
  
  <div>
      Si vous êtes ici, c'est que vous êtes un Admin !
  </div>

  <nav>
    <a href="{{ path('home') }}">Home</a><br>
    <a href="{{ path('dashboard') }}">Dashboard</a><br>
    <a href="{{ path('user') }}">User</a><br>
    <a href="{{ path('administration') }}">Administration</a><br>
    <a href="{{ path('logout') }}">Logout</a><br>
  </nav>
{% endblock content %}
