
<div class="post" style="padding-left: 81px;">
    <div style="width:56px;height:56px;border-radius:50%;background-image: url('{% if comment.user.steamId == 0 %}{{ asset('uploads/profil_pic/') }}{{ comment.user.profilPic }}{% else %}{{ comment.user.avatar }}{% endif %}');background-size: cover;float:left;"></div>

    <div class="post_content">
        <a href="" class="pseudo" style="font-size: 14px;">{% if comment.user.steamId == 0 %}{{ comment.user.pseudo }}{% else %}{{ comment.user.profileName }}{% endif %}</a>
        <p>{{ comment.text }}</p>



        <div class="suppr">
            {% if app.user and app.user == post.user %}
                <a href="{{ path('post.delete', { 'ID' : post.id }) }}" title="Supprimer la publication" class=""><i class="fas fa-times"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="datePost">Le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H') }}h{{ comment.createdAt | date('i') }}</div>
        <div style="clear:both;"></div>



</div>

