
<div class="post" style="{% if app.request.get('_route') == 'user_show' %}padding: 28px 15px 28px 29px;{% endif %}">

    <a href="{{ path('user_show', { 'id' : post.user.id }) }}"><div class="profilePicture" style="background-image: url('{% if post.user.steamId == 0 %}{{ asset('uploads/profil_pic/') }}{{ post.user.profilPic }}{% else %}{{ post.user.avatar }}{% endif %}');{% if app.request.get('_route') == 'user_show' %}width:40px;height:40px;{% endif %}"></div></a>

    {% if post.user.lineup is defined and post.user.lineup is not null and app.request.get('_route') != 'user_show' %}
        <a href="{{ path('display_team', { 'ID' : post.user.lineup.team.id }) }}"><div class="profileTeam" style="background-image: url('{{ asset('uploads/team_logo/') }}{{ post.user.lineup.team.logo }}');"></div></a>

    {% endif %}
    {% if post.user.team is defined and post.user.team is not null and post.user.lineup is null and app.request.get('_route') != 'user_show' %}
    <a href="{{ path('display_team', { 'ID' : post.user.team.id }) }}"><div class="profileTeam" style="background-image: url('{{ asset('uploads/team_logo/') }}{{ post.user.team.logo }}');"></div></a>

    {% endif %}
    <div class="post_content">

        <a href="{{ path('user_show', { 'id' : post.user.id }) }}" class="pseudo" style="font-size: 14px;">{% if post.user.steamId == 0 %}{{ post.user.pseudo }}{% else %}{{ post.user.profilename }}{% endif %}</a>
        <p>{{ post.text }}</p>



        {% if post.media and post.media != null %}
            <img id="show{{ post.id }}" class="post_media" src="{{ asset('uploads/post_media/') }}{{ post.media }}">
        {% endif %}

        <div class="reactions">
            <a href="{{ path('post.display', { 'ID' : post.id }) }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 317 269.36"><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M159,0c87,0,158,56,158,125,0,70-71,126-158,126-18,0-35-2-51-7-31,21-59,27-98,25,23-11,40-26,50-45C24,201,0,165,0,125,0,56,71,0,159,0Z"/></g></g></svg>

                {{ post.comments|length }}
            </a>
        </div>


        <div class="suppr">
            {% if app.user and app.user == post.user %}
                <a href="{{ path('post.delete', { 'ID' : post.id }) }}" title="Supprimer la publication" class=""><i class="fas fa-times"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="datePost">Le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt | date('H') }}h{{ post.createdAt | date('i') }}</div>
        <div style="clear:both;"></div>



</div>
{% if post.media and post.media != null %}

    <div id="display{{ post.id }}" class="display_media" >
        <i id="close{{ post.id }}" class="fas fa-times"></i>
        <img  src="{{ asset('uploads/post_media/') }}{{ post.media }}">

    </div>

    <script>
        let showMedia{{ post.id }} = document.getElementById("show{{ post.id }}");
        showMedia{{ post.id }}.onclick = function() {

            document.getElementById("display{{ post.id }}").classList.toggle("show");
        };

        let closeMedia{{ post.id }} = document.getElementById("close{{ post.id }}");
        closeMedia{{ post.id }}.onclick = function() {

            document.getElementById("display{{ post.id }}").classList.toggle("show");
        };
    </script>
{% endif %}

