{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Annuaire des joueurs{% endblock title %}
{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Annuaire</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



    <div class="content" style="padding:13px">
        <h1>Annuaire</h1>
</div>

<div class="content" style="padding:0;    overflow: hidden;">
    <a href="{{path('annuaire_joueurs')}}">
    <div class="col-md-6 seekchoice active" style="color:#ff5d03;background:white;">
            Je recherche un joueur<br><i class="fas fa-user"></i>
    </div>
    </a>
    <a href="{{path('annuaire_equipes')}}">
    <div class="col-md-6 seekchoice">
        Je recherche une équipe<br><i class="fas fa-users"></i>
    </div>
    </a>
    <div class="clearboth"></div>
    <form style="position: relative;padding:30px 10px 0px;" action="" method="GET" class="post">
        <div class="col-md-5">
            <input class="form-control" placeholder="Pseudo" name="queryUserPseudo" type="text">
        </div>
        <div class="col-md-5">
            <input class="form-control" placeholder="Joueur de..." name="queryUserGame" type="text">
        </div>
        <div class="col-md-2">
            <input class="btn btn_orange center_block" id="searchUser" type="submit" value="rechercher"/>
        </div>
        <div class="clearboth"></div>
    </form>


<div class="results">
    {% for user in pagination %}
        {% include 'User/_user.html.twig' %}




    {% endfor %}
    <div style="clear:both"></div>
    <div class="navigation center_block">
        {{ knp_pagination_render(pagination) }}
    </div>

</div>

</div>


{% endblock content %}

