{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Accueil{% endblock title %}

{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Accueil</li>
    </ol>
  </div>
{% endblock page %}

{% block content %}


  {% if is_granted('ROLE_USER') and app.user.egogames|length == 0 and not_teamed.isUserTeamed == 1 %}

      <p class="alert alert-teamup">Bienvenue sur TeamUP {{ app.user.profileName }}{{ app.user.pseudo }} !<br> Il semblerait que cela soit votre première connexion. Afin de vous garantir une expérience optimale il conseillé de suivre nos quelques recommandations ci-dessous.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="content" style="padding:0;height: 470px">
          <h2>Joueur ?</h2>
          <div style="width: 68%;text-align: center;padding: 37px;float:right;">
            <p style="margin-bottom: 38px;">Vous pouvez d'ores et déjà compléter votre profil et y ajouter des jeux avec égo.</p>
            <a class="btn btn_grey" href="{{ path('user') }}">Mettre mon profil à jour</a>
          </div>
          <div style="width: 54%;text-align: center;padding:0 37px 37px 37px;float:right;">
            <p style="margin-top: 1px;">Vous pourrez ensuite consulter les offres de recrutement et y candidater.</p>
            <svg style="width:59px;left: 20px;fill: bisque;margin-top: 35px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 128 160" style="enable-background:new 0 0 128 128;" xml:space="preserve"><style type="text/css">
                .st0{display:none;}
                .st1{display:inline;}
                .st2{fill:none;stroke:#000000;stroke-width:0.1;stroke-miterlimit:10;}
                .st3{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
                .st4{fill:none;stroke:#040404;stroke-width:5;stroke-miterlimit:10;}
                .st5{fill:#040404;}
                .st6{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
                .st7{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:square;stroke-miterlimit:10;}
                .st8{fill:#010101;}
                .st9{stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
              </style><g class="st0"><g class="st1"><rect class="st2" width="128" height="128"/><line class="st2" x1="0" y1="124" x2="128" y2="124"/><line class="st2" x1="0" y1="120" x2="128" y2="120"/><line class="st2" x1="0" y1="116" x2="128" y2="116"/><line class="st2" x1="0" y1="112" x2="128" y2="112"/><line class="st2" x1="0" y1="108" x2="128" y2="108"/><line class="st2" x1="0" y1="104" x2="128" y2="104"/><line class="st2" x1="0" y1="100" x2="128" y2="100"/><line class="st2" x1="0" y1="96" x2="128" y2="96"/><line class="st2" x1="0" y1="92" x2="128" y2="92"/><line class="st2" x1="0" y1="88" x2="128" y2="88"/><line class="st2" x1="0" y1="84" x2="128" y2="84"/><line class="st2" x1="0" y1="80" x2="128" y2="80"/><line class="st2" x1="0" y1="76" x2="128" y2="76"/><line class="st2" x1="0" y1="72" x2="128" y2="72"/><line class="st2" x1="0" y1="68" x2="128" y2="68"/><line class="st2" x1="0" y1="64" x2="128" y2="64"/><line class="st2" x1="0" y1="60" x2="128" y2="60"/><line class="st2" x1="0" y1="56" x2="128" y2="56"/><line class="st2" x1="0" y1="52" x2="128" y2="52"/><line class="st2" x1="0" y1="48" x2="128" y2="48"/><line class="st2" x1="0" y1="44" x2="128" y2="44"/><line class="st2" x1="0" y1="40" x2="128" y2="40"/><line class="st2" x1="0" y1="36" x2="128" y2="36"/><line class="st2" x1="0" y1="32" x2="128" y2="32"/><line class="st2" x1="0" y1="28" x2="128" y2="28"/><line class="st2" x1="0" y1="24" x2="128" y2="24"/><line class="st2" x1="0" y1="20" x2="128" y2="20"/><line class="st2" x1="0" y1="16" x2="128" y2="16"/><line class="st2" x1="0" y1="12" x2="128" y2="12"/><line class="st2" x1="0" y1="8" x2="128" y2="8"/><line class="st2" x1="0" y1="4" x2="128" y2="4"/><line class="st2" x1="124" y1="0" x2="124" y2="128"/><line class="st2" x1="120" y1="0" x2="120" y2="128"/><line class="st2" x1="116" y1="0" x2="116" y2="128"/><line class="st2" x1="112" y1="0" x2="112" y2="128"/><line class="st2" x1="108" y1="0" x2="108" y2="128"/><line class="st2" x1="104" y1="0" x2="104" y2="128"/><line class="st2" x1="100" y1="0" x2="100" y2="128"/><line class="st2" x1="96" y1="0" x2="96" y2="128"/><line class="st2" x1="92" y1="0" x2="92" y2="128"/><line class="st2" x1="88" y1="0" x2="88" y2="128"/><line class="st2" x1="84" y1="0" x2="84" y2="128"/><line class="st2" x1="80" y1="0" x2="80" y2="128"/><line class="st2" x1="76" y1="0" x2="76" y2="128"/><line class="st2" x1="72" y1="0" x2="72" y2="128"/><line class="st2" x1="68" y1="0" x2="68" y2="128"/><line class="st2" x1="64" y1="0" x2="64" y2="128"/><line class="st2" x1="60" y1="0" x2="60" y2="128"/><line class="st2" x1="56" y1="0" x2="56" y2="128"/><line class="st2" x1="52" y1="0" x2="52" y2="128"/><line class="st2" x1="48" y1="0" x2="48" y2="128"/><line class="st2" x1="44" y1="0" x2="44" y2="128"/><line class="st2" x1="40" y1="0" x2="40" y2="128"/><line class="st2" x1="36" y1="0" x2="36" y2="128"/><line class="st2" x1="32" y1="0" x2="32" y2="128"/><line class="st2" x1="28" y1="0" x2="28" y2="128"/><line class="st2" x1="24" y1="0" x2="24" y2="128"/><line class="st2" x1="20" y1="0" x2="20" y2="128"/><line class="st2" x1="16" y1="0" x2="16" y2="128"/><line class="st2" x1="12" y1="0" x2="12" y2="128"/><line class="st2" x1="8" y1="0" x2="8" y2="128"/><line class="st2" x1="4" y1="0" x2="4" y2="128"/></g></g><g><g><path d="M121.8,5.5L73.1,4.9c0,0-21,12.6-25,15.1l0,0h-0.1v50.2h51.4v-0.1l22.4-14.2V5.5z M116.8,52H99.4V23.9    l17.4-9.8V52z M94.4,52H76.9V25h17.5V52z M75,57h19.4v8.2H60.2L75,57z M53.1,63.5V25h18.8v28L53.1,63.5z M99.4,57h11.3l-11.3,7.2    V57z M96.1,20H76.9V10l36.7,0.1L96.1,20z M71.9,11.5V20H57.7C59.5,19,68.9,13.4,71.9,11.5z"/><g><path d="M45.6,17.5c0,0,21.2-11.6,25-13.9C69,2.9,67.3,2.4,65.3,2c-1.2-0.2-2.9-0.5-4.9-0.7     C51.5,0.4,42.4,2,34.8,6.5c-9.2,5.4-13.7,13.6-16,17.9c-6.7,12-7.1,23.6-6.9,29.2c0,0,0,0.1,0,0.1L6.5,68.9     c-1,2.8,0.8,5.8,3.7,6.3l2.7,0.4c0.1,0,0.2,0.1,0.3,0.2c0,0.1,0,0.1,0,0.1c0,0,0,0,0,0c-1.9,16.5,0.8,22,4,23.9     c0.9,0.5,1.8,0.7,6.7,3.1c2.1,1,4.8,2.4,7.8,4.8c0.2,0.1,0.3,0.2,0.4,0.3l0.4,18.5c0,0.2,0.1,0.3,0.3,0.3c4.5,0,57,0,62.4,0     c0.2,0,0.4-0.2,0.3-0.4c-1-2.5-2.2-6-3.5-10.1c0,0-2.4-7.4-3.7-13.7c-0.6-2.9-0.5-5.8,0.1-8.9c0,0,0,0,0,0c0,0,0-0.1,0-0.1     c0,0,3-6.5,9.5-21H45.6V17.5z"/></g></g></g></svg>
          </div>
          <img style="position:absolute;bottom: 0;left: -80px;" src="{{ asset('assets/images_statiques/gouki.png') }}">
        </div>
      </div>
    <div class="col-md-6">
        <div class="content" style="padding:0;height: 470px">
          <h2>Recruteur ?</h2>
          <div style="width: 68%;text-align: center;padding: 37px;">
            <p style="margin-bottom: 38px;">Vous pouvez d'ores et déjà passer à la création et la mise en ligne de votre structure E-Sport.</p>
            <a class="btn btn_grey" href="{{ path('create_team') }}">Création de structure</a>
            <p style="margin-top: 38px;">Vous pourrez ensuite passer à la création de line-ups et d'offres de recrutement.</p>
            <svg style="width:59px;left: 20px;fill: bisque;margin-top: 28px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.75 82.05"><title>Gestion</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><g id="a"><path d="M67.4,42.65h.05a11.41,11.41,0,0,0-.05-16.1h.05a11.51,11.51,0,0,0-14.6-1.35.6.6,0,0,0-.2-.15L27.8,9.15a6.51,6.51,0,0,0,.4-2.3A6.62,6.62,0,0,0,26.15,2a6.53,6.53,0,0,0-4.8-2,6.77,6.77,0,0,0-4.9,2h0a6.77,6.77,0,0,0-2,4.85,6.68,6.68,0,0,0,2,4.85v.05a6.85,6.85,0,0,0,4.9,1.95,6.61,6.61,0,0,0,4.8-1.95V11.7a2.07,2.07,0,0,0,.4-.4L51,26.9a12,12,0,0,0-2.2,3.45A11.25,11.25,0,0,0,48,34.6a11.07,11.07,0,0,0,1,4.7L40.1,46.2a22.93,22.93,0,0,0-2-2.25,21.56,21.56,0,0,0-15.75-6.5,21.61,21.61,0,0,0-15.8,6.5A21.52,21.52,0,0,0,0,59.75a21.49,21.49,0,0,0,6.55,15.8V75.5a21.53,21.53,0,0,0,15.8,6.55,21.5,21.5,0,0,0,15.75-6.5V75.5a21.37,21.37,0,0,0,6.55-15.75,21.69,21.69,0,0,0-3.1-11.45l8.7-6.85a10.74,10.74,0,0,0,1.05,1.2,11.35,11.35,0,0,0,16.1,0Z"/></g></g></g></svg>

          </div>

          <img style="position: absolute;bottom: 0;right: -27px;" src="{{ asset('assets/images_statiques/farcry.png') }}">

        </div>

      </div>

    </div>
  {% elseif is_granted('ROLE_USER') and relatedUsersRecruit is not null %}
    <p class="alert alert-teamup">Bienvenue sur TeamUP {{ app.user.profileName }}{{ app.user.pseudo }} !<br> En tant que responsable de l'équipe {{ app.user.team.name }} nous avons pensé que ces profils de joueur étaient susceptibles de vous intéresser.</p>

    <div class="content" style="padding:0px 0px 15px;">
      <h2>Profils de joueur sur mesure</h2>
      {% for user in relatedUsersRecruit|slice(0, 4) %}
        {% include 'User/_user.html.twig' %}
      {% endfor %}
      <div class="clearboth"></div>
    </div>

  {% elseif is_granted('ROLE_USER') and app.user.egogames|length > 0 and relatedOffers is not null %}
    <p class="alert alert-teamup">Bienvenue sur TeamUP {{ app.user.profileName }}{{ app.user.pseudo }} !<br> Ces offres de recrutement sur {{ app.user.egogames.0.gameName }} et ces profils de joueur sont susceptibles de vous intéresser.</p>

    <div class="content" style="padding:0px 0px 15px;">
  <h2>Offres de recrutement sur mesure</h2>
    {% for offer in relatedOffers|slice(0, 4) %}
      {% include 'Offer/_offer.html.twig' %}
    {% endfor %}
  <div class="clearboth"></div>
</div>

  {% endif %}


  {% if is_granted('ROLE_USER') and app.user.egogames|length > 0 and relatedUsers is not null and relatedUsersRecruit is null %}
<div class="content" style="padding:0px 0px 15px;">
  <h2>Profils de joueur sur mesure</h2>
  {% for user in relatedUsers|slice(0, 4) %}
    {% include 'User/_user.html.twig' %}
  {% endfor %}
  <div class="clearboth"></div>
</div>
  {% endif %}

  {% if is_granted('ROLE_USER') %}
    <div class="content">
      {{ form_start(postForm) }}
      {{ form_row(postForm.text) }}
      <i id="icone_image" class="far fa-image"></i>
      {{ form_row(postForm.media) }}
      <button type="submit" class="btn lil_btn btn_orange" style="float:right;padding-top: 6px;padding-bottom: 6px;">Publier</button>

        <img id="output_post"/>


      {{ form_end(postForm) }}
    </div>
  {% endif %}
  <div class="content" style="padding:0">
    {% if postToShow is not null and is_granted('ROLE_USER') %}
    <h2>Fil d'actualité</h2>
      {% for post in postToShow.values %}

          {% include 'Dashboard/_post.html.twig' %}


    {% else %}
      <p style="padding:20px;">Vous n'êtes abonné à aucun utilisateur et n'avez jamais posté aucun contenu.</p>
      {% endfor %}
 {% endif %}
    {% if is_granted('ROLE_USER_PENDING') %}
      <h2>Compte en attente de validation</h2>
      <p style="padding: 66px 20px 0px;font-size: 16px;text-align: center">Choisissez celui qui vous correspond pour vous rendre sur votre boite mail afin de <span style="font-weight: bold">confirmer votre inscription</span>.</p>
      <img style="width: 90%;margin: 0 auto;display: block;" src="{{ asset('assets/images_statiques/browsers.png') }}">
    {% endif %}
  </div>
{% endblock content %}

{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript'>
    function preview_image(event)
    {
      var reader = new FileReader();
      reader.onload = function()
      {
        var output = document.getElementById('output_post');
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }


    let ava_overflow = jQuery("#icone_image");
    let input_profil = jQuery("#post_media");
    ava_overflow.click(function() {

      input_profil.click();
    });


  </script>
{% endblock javascripts %}
