{% extends "/layout.html.twig" %}

{% block title %}App:Dashboard:dashboard{% endblock title %}

{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{path('dashboard')}}">Accueil</a></li>
      <li class="active">Publication de {{ post.user.pseudo }}{{ post.user.profileName }}</li>
    </ol>
  </div>
{% endblock page %}


{% block content %}
  <div class="content" style="padding:0">
    <div class="post">
      <div style="width:116px;height:116px;border-radius:50%;background-image: url('{% if post.user.steamId == 0 %}{{ asset('uploads/profil_pic/') }}{{ post.user.profilPic }}{% else %}{{ post.user.avatar }}{% endif %}');background-size: cover;float:left;"></div>
      <div class="post_content">

        <a href="" class="pseudo" style="font-size: 14px;">{% if post.user.steamId == 0 %}{{ post.user.pseudo }}{% else %}{{ post.user.profilename }}{% endif %}</a>
        <p>{{ post.text }}</p>



        {% if post.media and post.media != null %}
          <img class="post_media" src="{{ asset('uploads/post_media/') }}{{ post.media }}">
        {% endif %}

        <div class="reactions">
          <a href="{{ path('post.display', { 'ID' : post.id }) }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 317 269.36"><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M159,0c87,0,158,56,158,125,0,70-71,126-158,126-18,0-35-2-51-7-31,21-59,27-98,25,23-11,40-26,50-45C24,201,0,165,0,125,0,56,71,0,159,0Z"/></g></g></svg>

            {{ post.comments|length }}
          </a>
        </div>


        <div class="suppr">
          {% if app.user and app.user == post.user %}
            <a href="{{ path('post.delete', { 'ID' : post.id }) }}" title="Supprimer la publication" class=""><i class="fas fa-times"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="datePost">Le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt | date('H') }}h{{ post.createdAt | date('i') }}</div>
      <div style="clear:both;"></div>



    </div>
    {% for comment in post.comments %}

      {% include 'Dashboard/_comment.html.twig' %}


    {% else %}
      <p style="padding: 5px;" class="grey_text">Il n'y a pas encore de commentaire. Soyez le premier à réagir.</p>
     {% endfor %}



  </div>
  {% if is_granted('ROLE_USER') %}
  <div class="content">
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.text) }}
    <button type="submit" class="btn lil_btn btn_orange" style="float:right;padding-top: 6px;padding-bottom: 6px;">Commenter</button>

    {{ form_end(commentForm) }}
  </div>
{% endif %}
{% endblock content %}
