{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Mot de passe perdu{% endblock %}
{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Mot de passe perdu</li>
    </ol>
  </div>
{% endblock page %}
{% block content %}
  <div class="content">
  <h1>Mot de passe perdu</h1>
  <form action="{{ path('lostpassword') }}" method="post">
    <input class="form-control" type="email" id="email" name="email" placeholder="E-mail"/>
    <br>
    <button style="margin:0 auto;" type="submit" class="btn big_btn btn_orange">Envoyer</button>
  </form>
  </div>
{% endblock content %}