{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Réinitialisation du mot de passe{% endblock %}

{% block content %}
  <h1>Réinitialisation du mot de passe</h1>
  {{form(passwordForm)}}
{% endblock content %}