
    <div class="col-md-3">
        <div class="encart" style="line-height: unset;min-height: 227px;">
            {% if app.request.get('_route') == 'lineup_show' and lineup is defined and lineup.team.owner == app.user %}
                <a style="float:right" class="kick" href="{{ path('kick', { 'id' : user.id }) }}"><i class="fas fa-times"></i></a>
            {% endif %}
            <a class="linkhover" href="{{ path('user_show', { 'id' : user.id }) }}">
            {% if user.steamId == 0 %}
                <div style="width:58px;height:58px;border-radius:50%;background-image: url('{{ asset('uploads/profil_pic/') }}{{ user.profilPic }}');margin: 0 auto 5px;background-size: cover;"></div>
            {% else %}
                <div style="width:58px;height:58px;border-radius:50%;background-image: url('{{ user.avatar }}');margin: 0 auto 5px;background-size: cover;"></div>

            {% endif %}
            <p class="grey_text" style="text-align: center;font-size: 15px; font-weight: bold;">{{ user.pseudo }}{{ user.profileName }}</p></a>

{% set MoyenneNote = -1 %}
<p class="grey_text" style="font-weight: bold;font-size: 12px;">Jeux avec égo</p>
<table class="grey_text" width="100%">

    {% for egoGame in user.egoGames|slice(0, 4) %}
    <tr>
        <td>
            {{ egoGame.gameName}}
        </td>

        {% set pubNoteArray = [] %}
        {% set iterator = 0 %}
        {% set sum = 0 %}
        {% for pubNote in egoGame.pubNotes %}
            {% set pubNoteArray = pubNoteArray|merge([pubNote]) %}
            {% set sum = sum + pubNote.value %}
            {% set iterator = iterator + 1 %}
        {% endfor %}

        {% set MoyenneNote = -1 %}
        {% if pubNoteArray is not empty %}
            {% if pubNoteArray is not empty %}

                {% set MoyenneNote = sum / iterator %}
            {% endif %}
        {% endif %}
        <td>
            {% if MoyenneNote != -1%}
                {{ MoyenneNote }}<em>/5</em>
            {% else %}
                ?
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td>
            Aucun
        </td></tr>
    {% endfor %}

</table>
</div>
</div>