[{% for user in results -%}
    {{ {id: user.id, label: user.pseudo, value: user.pseudo}|json_encode|raw }}
    {# use "value" instead of "id" key, if you use jquery-ui #}
    {%- if not loop.last %},{% endif -%}
    {%- endfor %}]