{% extends "/layout.html.twig" %}
{% block title %}TeamUP - {{ user.profileName }}{{ user.pseudo }}{% endblock title %}
{% block page %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{path('dashboard')}}">Accueil</a></li>
            <li class="active">{{ user.profileName }}{{ user.pseudo }}</li>
        </ol>
    </div>
{% endblock page %}


{% block content %}



    <div class="content" style="padding:13px">
        <div class="col-md-4">
            {% if user.steamId == 0 %}
            <div style="width:90px;height:90px;border-radius:50px;background-image: url('{{ asset('uploads/profil_pic/') }}{{ user.profilPic }}');background-size: cover;float:left;margin-right: 20px;"></div>
            {% else %}
            <div style="width:90px;height:90px;border-radius:50px;background-image: url('{{ user.avatar }}');background-size: cover;float:left;margin-right: 20px;"></div>
            {% endif %}
            <span class="grey_text" style="font-size: 29px">{{ user.profileName }}{{ user.pseudo }}</span>
        </div>
        <div class="col-md-4">
            {% if user.bio != null %}
                <i class="fas fa-quote-left" style="    font-size: 10px;margin-top: 21px;"></i>
                <div class="grey_text" style="text-align: center;">

                    <p>{{ user.bio }}</p>

                </div>
                <i class="fas fa-quote-right" style="float:right;    font-size: 10px;"></i>

            {% endif %}
        </div>
        <div class="col-md-4">
            {% if is_granted('ROLE_USER') and user != app.user %}
                <a href="{{ path('chat', { 'id' : user.id }) }}" class="lil_btn btn_grey btn" style="float:right;margin-bottom: 10px;max-width:150px!important;width:150px;    margin-top: 9px;" >Message privé</a>
                <div class="clearboth"></div>
                {% for follow in app.user.follows if follow.followed == user %}
                    <a href="{{ path('unfollow', { 'id' : user.id }) }}" id="button_abo" class="lil_btn btn_grey btn" style="float:right;max-width:150px!important;width:150px;">Abonné</a>
                {% else %}

                    <a href="{{ path('follow', { 'id' : user.id }) }}" style="float:right;max-width:150px!important;width:150px;" class="lil_btn btn_grey btn">S'abonner</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="clearboth"></div>

    </div>

    {% if user.twitch is defined and user.twitch is not null %}

            <div class="content" style="max-height: 581px;overflow: hidden;padding:0;">
                <h2 style="margin-bottom: 0;">Twitch</h2>

                    <div id="twitch-embed" style="width:100%;margin:0 auto;"></div>

            </div>

    {% endif %}
    <div class="row">
<div class="col-md-6">
    <div class="content" style="padding:0px;">
        <h2 style="margin-bottom: 0">Actualités</h2>
        <div style="height: 489px;overflow-y: scroll;">
        {% for post in user.posts|reverse %}

            {% include 'Dashboard/_post.html.twig' %}


        {% else %}
            <p style="    padding:20px;" class="grey_text">{{ user.pseudo }}{{ user.profileName }} n'a pas encore d'actualité.</p>

        {% endfor %}
        </div>

    </div>
</div>
<div class="col-md-6">
    <div class="content" style="padding:0px;min-height:547px;">
        <h2>Jeux avec égo</h2>

        {% if user.egoGames is not empty and is_granted('ROLE_USER') %}
        {% include 'egogame/user_profile_display.html.twig' %}
        {% else %}
            <p style="    padding: 0 20px;" class="grey_text">{{ user.pseudo }}{{ user.profileName }} n'a encore défini aucun jeu avec égo.</p>
        {% endif %}
        {% if user == app.user %}
            <a href="{{ path('egogame_new') }}" class="btn_grey btn lil_btn" style="position:absolute;top: 12px;right: 12px;"><i class="fas fa-plus"></i></a>
        {% endif %}
    </div>
</div>
    </div>
<div class="clearboth"></div>

    {% if user.steamid != 0 and games is defined %}
    <div class="content" style="padding:0px">
        <h2>Statistiques Steam</h2>
        {% for game in games|reverse|slice(0, 8) %}
            <div class="col-md-3" style="padding:20px 40px;">
                <img style="border-radius: 3px;margin:10px auto;display: block;" src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_logo_url }}.jpg">
                <p class="grey_text" style="text-align: center">{{ game.name }}</p>
                <i class="fas fa-clock{% if game.playtime_forever_mins > 3000 %}
                                fa-fire
                        {% endif %}" style="float:left;font-size: 12px;color:#e2e2e2;
                {% if game.playtime_forever_mins > 100 %}
                    color:#6d6d6d;
                {% endif %}
                {% if game.playtime_forever_mins > 300 %}
                        color:#292929;
                {% endif %}
                        {% if game.playtime_forever_mins > 3000 %}
                                color:#292929;
                        {% endif %}
                margin: 2px 4px 2px 26px;"></i><p class="grey_text" style="">{{ game.playtime_forever_mins }} heures de jeu</p>


            </div>

        {% else %}
            L'utilisateur a synchronisé un compte Steam sans jeu possédé...
        {% endfor %}
        <div class="clearboth"></div>
    </div>
    {% endif %}

    {% if youtube is defined and youtube is not null %}
    <div class="col-md-5" style="padding-left: 0px;">
        <div class="content" style="padding:0;overflow: hidden;max-height: 408px;">
            <h2 style="margin-bottom: 0">Youtube</h2>
            <iframe type="text/html" width="100%" height="350px"
                    src="{{ youtube }}"
                    frameborder="0"></iframe>
        </div>
    </div>
    {% endif %}

    {% if user.discord is defined and user.discord is not null %}
        <div class="col-md-7" style="padding-right: 0px;">
            <div class="content" style="padding:0;overflow: hidden;">
                <h2 style="margin-bottom: 0;    width: 100%;
    position: absolute;
    background: white;">Discord</h2>
                <iframe style="margin-top: -17px" src="https://discordapp.com/widget?id={{ user.discord }}&theme=light" width="100%" height="418" allowtransparency="true" frameborder="0"></iframe>

            </div>
        </div>
    {% endif %}

    <div class="clearboth"></div>
{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type='text/javascript'>
        new Twitch.Embed("twitch-embed", {
            channel: "{{ user.twitch }}"
        });
    </script>

    <script type='text/javascript'>
        let eval = [];
        for (let i = 0; i < 4; i++){

            eval[i] = jQuery("#eval"+i);
            eval[i].click(function() {
                $("#encart_eval"+i).toggleClass("show");
                eval[i].toggleClass("hide");
            });
        }

    </script>
    <script type='text/javascript'>
        $("#button_abo").mouseover(function(){
            $("#button_abo").text("Se désabonner");
        }).mouseout(function() {
            $("#button_abo").text("Abonné");
        });
    </script>
{% endblock javascripts %}
