{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Notifications{% endblock title %}
{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{path('dashboard')}}">Accueil</a></li>
      <li><a href="{{path('dashboard')}}">{{ app.user.pseudo }}{{ app.user.profileName }}</a></li>
      <li class="active">Notifications</li>
    </ol>
  </div>
{% endblock page %}

{% block content %}
<div class="content" style="padding:13px">
  <h1>Notifications</h1>

</div>

  <div class="content" style="padding:0;">

    {% for notification in notifications|reverse %}
      <div class="post">
        <div class="datePost">Le {{ notification.createdAt | date('d/m/Y') }} à {{ notification.createdAt | date('H') }}h{{ notification.createdAt | date('i') }}</div>
        <div style="width:40px;height:40px;border-radius:50%;background-image: url('{% if notification.emett.steamId == 0 %}{{ asset('uploads/profil_pic/') }}{{ notification.emett.profilPic }}{% else %}{{ notification.emett.avatar }}{% endif %}');background-size: cover;float:left;margin-right: 20px;"></div>

        <p>{{ notification.content }}</p>
        {% if notification.type == 'accept_invitation' %}
          <i style="" class="fas fa-user-plus"></i>
        {%  endif %}
        {% if notification.type == 'refuse_invitation' %}
          <i style="" class="fas fa-user-times"></i>
        {%  endif %}
        <div style="clear:both"></div>
        {% if notification.type == 'invitation' and notification.status < 2 %}
          <a class="btn btn_grey lil_btn" style="max-width: 200px;float:right;margin-left: 15px;" href="{{ path('refuse_invit', { 'ID' : notification.emett.id, 'ID_lineup' : notification.lineup.id, 'ID_invit' : notification.id}) }}">Refuser l'invitation</a>
          <a class="btn btn_orange lil_btn" style="max-width: 200px;float:right;" href="{{ path('accept_invit', { 'ID' : notification.emett.id, 'ID_lineup' : notification.lineup.id, 'ID_invit' : notification.id}) }}">Accepter l'invitation</a>

        {%  endif %}

        <div style="clear:both"></div>
      </div>

    {% else %}
      <p style="padding:20px;"><i style="margin-right: 5px;" class="fas fa-bell-slash"></i> Aucune notification.</p>
    {% endfor %}
  </div>
{% endblock content %}
