{% extends "/layout.html.twig" %}

{% block title %}TeamUP - Informations du compte{% endblock title %}

{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{path('dashboard')}}">Accueil</a></li>
      <li><a href="{{ path('user_show', { 'id' : app.user.id }) }}">{{ app.user.pseudo }}{{ app.user.profileName }}</a></li>
      <li class="active">Informations du compte</li>
    </ol>
  </div>
{% endblock page %}

{% block content %}

  <div class="content">
  <h1>Informations du compte</h1>

    {% if app.user.steamId == 0 %}
  <div class="navUser">
    <a href="{{path('user')}}" {% if app.request.get('_route') == 'user' %}class="active"{% endif %}>Informations du compte</a>
    <a href="{{path('userpassword')}}" {% if app.request.get('_route') == 'userpassword' %}class="active"{% endif %}>Mot de passe</a>
    <a href="{{path('useremail')}}" {% if app.request.get('_route') == 'useremail' %}class="active"{% endif %}>Email</a>
  </div>
    {% endif %}
    {% if app.user.steamId != 0 %}
      <div class="col-md-3">
        <label>Image de profil</label>
        <div class="ava_overflow">
          <img src="{{ app.user.avatar }}" id="output_image"/>
        </div>
      </div>
      <div class="col-md-9">
        <div class="alert alert-success alert-teamup" style="margin-top: 63px;">
          <a href="#" class="close" data-dismiss="alert">×</a>
          <p>Remarque :</p>
          <p>Votre compte TeamUP étant lié à votre compte Steam vous ne pouvez pas modifier certaines de vos informations via la plateforme.</p><i class="fab fa-steam" style="float: right;
    font-size: 26px;"></i>
          <div class="clearboth"></div>
        </div>
      </div>
      <div class="clearboth"></div>
      <div class="steamuser">
        <label>Pseudo</label>
        <input class="form-control" readonly="readonly" value="{{ app.user.profileName }}">
      </div>
    {% endif %}
  {{ form_start(userInfoForm) }}

      <div class="steamuser" style="{% if app.user.steamId != 0 %}display:none;{% endif %}">
        {{ form_row(userInfoForm.profilPic) }}
        <div id="ava_overflow" class="ava_overflow">
          <img src="{{ asset('uploads/profil_pic/') }}{{ app.user.profilPic }}" id="output_image"/>
          <div class="ppblocprofhover"><p><br><br><i class="fas fa-camera"></i></p><p>Changer votre<br>image de profil</p></div>
        </div>
        {{ form_row(userInfoForm.pseudo) }}

      </div>
    <div class="col-md-6">
  {{ form_row(userInfoForm.twitch) }}
  {{ form_row(userInfoForm.discord) }}
  {{ form_row(userInfoForm.youtube) }}
    </div>
    <div class="col-md-6">
    {{ form_row(userInfoForm.bio) }}
    </div>
    <div class="clearboth"></div>
  <button type="submit" class="btn btn_orange center_block">Enregistrer les modifications</button>
  {{ form_end(userInfoForm) }}

  </div>



{% endblock content %}



{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript'>
    function preview_image(event)
    {
      var reader = new FileReader();
      reader.onload = function()
      {
        var output = document.getElementById('output_image');
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }


    let ava_overflow = jQuery("#ava_overflow");
    let input_profil = jQuery("#user_info_profilPic");
    ava_overflow.click(function() {

      input_profil.click();
    });


  </script>
{% endblock javascripts %}