{% extends "/layout.html.twig" %}
{% block title %}TeamUP - Changement de mot de passe{% endblock title %}
{% block page %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{path('dashboard')}}">Accueil</a></li>
      <li><a href="{{path('dashboard')}}">{{ app.user.pseudo }}{{ app.user.profileName }}</a></li>
      <li class="active">Changement de mot de passe</li>
    </ol>
  </div>
{% endblock page %}


{% block content %}
<div class="content">
  <h1>Changement de mot de passe</h1>

  <div class="navUser">
    <a href="{{path('user')}}" {% if app.request.get('_route') == 'user' %}class="active"{% endif %}>Informations</a>
    <a href="{{path('userpassword')}}" {% if app.request.get('_route') == 'userpassword' %}class="active"{% endif %}>Mot de passe</a>
    <a href="{{path('useremail')}}" {% if app.request.get('_route') == 'useremail' %}class="active"{% endif %}>Email</a>
  </div>

  {{form(changePasswordForm)}}
</div>
{% endblock content %}
